RewriteEngine On

## From WWW to non-WWW
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

## Sitemap XML to PHP
RewriteRule ^sitemap\.xml$ /sitemap.php [L]

## Manifest JSON to PHP
RewriteRule ^manifest\.json$ /manifest.php [L]

## API JSON to PHP
RewriteRule ^api/([A-Za-z0-9-_]+)/?\.json$$	/index.php?view=api&api=$1	[NC,L]

## From Bill subdomain to directory
RewriteBase /
RewriteCond %{HTTP_HOST} ^thebillof\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/billof/$1 [R=301,L]

## All other rewrites
RewriteRule ^billof/([A-Za-z0-9-_]+)/?$	/index.php?view=$1&sub=billof	[NC,L]
RewriteRule ^charter/([A-Za-z0-9-_]+)/?$	/index.php?view=$1&sub=charter	[NC,L]
RewriteRule ^([A-Za-z0-9-_]+)/?$		/index.php?view=$1	[NC,L]

# Alternative URLs redirect
Redirect 301 /trophy /trophies
Redirect 301 /trophie /trophies
Redirect 301 /tricky /trophies
Redirect 301 /trickies /trophies
Redirect 301 /magtricky /trophies
Redirect 301 /magtrickies /trophies

Redirect 301 /apple-event /apple-events
Redirect 301 /events /apple-events
Redirect 301 /event /apple-events

Redirect 301 /hosts /leaderboard
Redirect 301 /3j /3j-leaderboard
Redirect 301 /triple-j /3j-leaderboard
Redirect 301 /leaderboard-3j /3j-leaderboard

Redirect 301 /charity /charities
Redirect 301 /donation /charities

Redirect 301 /eu /euies
Redirect 301 /dma /euies

Redirect 301 /recent /latest

## Error pages
ErrorDocument 400 /error/400.php
ErrorDocument 401 /error/401.php
ErrorDocument 403 /error/403.php
ErrorDocument 404 /error/404.php
ErrorDocument 406 /error/406.php
ErrorDocument 409 /error/409.php
ErrorDocument 413 /error/413.php
ErrorDocument 414 /error/414.php
ErrorDocument 500 /error/500.php
ErrorDocument 501 /error/501.php
ErrorDocument 502 /error/502.php
ErrorDocument 503 /error/503.php
ErrorDocument 504 /error/504.php
