RewriteEngine On

## From WWW to non-WWW ##
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

## All other rewrites ##
RewriteRule ^billof/([A-Za-z0-9-_]+)/?$	/index.php?view=$1&sub=billof	[NC,L]
RewriteRule ^([A-Za-z0-9-_]+)/?$		/index.php?view=$1	[NC,L]

## Error pages
# ErrorDocument 400 /error/400.php
# ErrorDocument 401 /error/401.php
# ErrorDocument 403 /error/403.php
# ErrorDocument 404 /error/404.php
# ErrorDocument 500 /error/500.php
# ErrorDocument 502 /error/502.php
