@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.avatar_leaderboard {
	display: flex;
	flex-direction: row;
	// align-items: flex-start;
	align-items: center;
	max-width: 650px;
	margin: var(--space-between-vertical) auto;
	padding: 0 var(--space-between-horizontal);
	.host {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		order: 0;
		flex-grow: 1;
		margin: 0 8px;
		// padding: 8px 0px 0px;
		.avatar {
			margin-bottom: 8px;
			margin: 8px;
			background: pink;
		}
		span:not(:first-of-type) {
			margin-top: 4px;
		}
		.name {
			font-weight: bold;
		}
		.title {
			color: var(--text-secondary-color);
		}
		.string {
		}
		&.winner .avatar {
			margin-top: 0px;
			margin-bottom: 16px;
			// Winner ring
			&:before,
			&:after {
				content: "";
				position: absolute;
				border-radius: 50%;
			}
			&:before {
				z-index: -1;
				top: -4px;
				left: -4px;
				bottom: -4px;
				right: -4px;
				background: var(--background-color);
			}
			&:after {
				z-index: -2;
				top: -8px;
				left: -8px;
				bottom: -8px;
				right: -8px;

				background-color: var(--connected-orange);
				background-image: linear-gradient(
					-45deg,
					var(--connected-green),
					var(--connected-yellow),
					var(--connected-orange),
					var(--connected-red),
					var(--connected-purple),
					var(--connected-blue)
				);
				background-size: 300% 300%;
				animation-name: gradient;
				animation-duration: 10s;
				animation-iteration-count: infinite;
			}
		}
	}
}
