@keyframes connected_colors {
  0% {
    background-color: var(--connected-green);
  }
  14% {
    background-color: var(--connected-yellow);
  }
  29% {
    background-color: var(--connected-orange);
  }
  43% {
    background-color: var(--connected-red);
  }
  57% {
    background-color: var(--connected-purple);
  }
  71% {
    background-color: var(--connected-blue);
  }
  86% {
    background-color: var(--relay-blue);
  }
  100% {
    background-color: var(--connected-green);
  }
}
main {
  max-width: 750px;
  padding: 24px 24px 48px;
  margin: 0 auto;
  background-image: linear-gradient(170deg, #ffffff 0.21%, #f1f1f1 98.37%);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);
  color: var(--text-primary-color);
  transition-property: padding, color;
  transition-duration: 100ms, 500ms;
  transition-timing-function: ease-in-out;
}
@media screen and (min-width: 576px) {
  main {
    padding: 48px 48px 64px;
  }
}
@media (prefers-color-scheme: dark) {
  main {
    background-image: linear-gradient(170deg, #0e0e0e 0.21%, #1e1e1e 98.37%);
  }
}
@media screen and (min-width: 768px) {
  main {
    padding: 64px;
  }
}
main h1 {
  text-align: center;
  font-size: 3.7rem;
  line-height: 96%;
  margin: 0;
}
main h2 {
  font-size: 1.7rem;
  margin: var(--space-between-lg) 0 4px;
}
main.scroll {
  color: var(--text-document-color);
  font-family: -apple-system-ui-serif, ui-serif, Georgia, serif;
  box-shadow: none;
  background-image: url(/images/parchment-border/light-top.png), url(/images/parchment-border/light-left.png), url(/images/parchment-border/light-right.png), url(/images/parchment-border/light-bottom.png), radial-gradient(107.69% 64.1% at 50.13% 51.34%, rgba(255, 245, 225, 0.7) 0%, rgba(255, 218, 184, 0.7) 100%), url(/images/parchment-background.jpg);
  background-position: left top, left top, right top, right bottom, center, center;
  background-repeat: repeat-x, repeat-y, repeat-y, repeat-x, no-repeat, no-repeat;
  background-size: auto 32px, 32px auto, 32px auto, auto 32px, cover, cover;
}
main.scroll h1,
main.scroll h2 {
  font-family: "BlackChancery";
}
@media screen and (min-width: 576px) {
  main.scroll {
    background-size: auto 64px, 64px auto, 64px auto, auto 64px, cover, cover;
  }
}
@media (prefers-color-scheme: dark) {
  main.scroll {
    background-image: url(/images/parchment-border/dark-top.png), url(/images/parchment-border/dark-left.png), url(/images/parchment-border/dark-right.png), url(/images/parchment-border/dark-bottom.png), radial-gradient(107.69% 64.1% at 50.13% 51.34%, rgba(255, 245, 225, 0.7) 0%, rgba(255, 218, 184, 0.7) 100%), url(/images/parchment-background.jpg);
  }
}
main .document_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
main .document_footer .signatures {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 32px;
  border-bottom: 2px dotted var(--text-primary-color);
  padding-right: 16px;
}
main .document_footer .signatures img {
  margin-left: -16px;
  max-height: 2.3rem;
}
main .document_footer img.seal {
  width: 30vw;
  max-width: 120px;
  align-self: flex-end;
  margin-bottom: -10px;
}
main .document_footer #ticci_seal {
  transform: rotate(9deg);
  filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.6));
}
main .document_footer #scroll_seal {
  display: none;
  transform: rotate(-6deg);
}
main.scroll .document_footer .signatures {
  border-bottom-color: var(--text-document-color);
}
main.scroll .document_footer .signatures img {
  filter: sepia(100%);
  opacity: 0.9;
}
main.scroll #ticci_seal {
  display: none;
}
main.scroll #scroll_seal {
  display: block;
}

#document_date {
  text-align: center;
  margin: 5px 0 22px;
}

ol {
  margin: 0;
  padding-left: 26px;
}

div.rule p {
  margin-top: var(--space-between-md);
}
div.rule p del {
  text-align: center;
  text-decoration: none;
  display: block;
  opacity: 0.6;
}

main a {
  padding: 2px 4px;
  margin: -2px -4px;
  border-radius: 4px;
  transition: background 100ms;
  background: rgba(215, 164, 87, 0);
}
main a:link, main a:visited {
  text-decoration-color: var(--link-color);
  color: inherit;
}
@media (hover: hover) {
  main a:hover, main a:focus {
    text-decoration-color: var(--text-document-color);
    color: var(--text-document-color);
    background: var(--link-color);
  }
  main a:active {
    text-decoration-color: black;
    color: black;
  }
}

main:not(.scroll) a {
  text-decoration-color: var(--connected-blue);
}

main.scroll a {
  text-decoration-color: var(--link-color);
}

aside.slider {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}
aside.slider #rule_slider {
  padding: 8px 24px 24px;
  padding-bottom: max(24px, calc(16px + env(safe-area-inset-bottom)));
  max-width: 650px;
  margin: 0 auto;
}
aside.slider #rule_slider label {
  display: block;
  text-align: center;
  color: var(--text-primary-color);
  margin-bottom: 16px;
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media screen and (min-width: 768px) {
  aside.slider #rule_slider {
    padding: 16px 32px 24px;
    padding-bottom: max(24px, env(safe-area-inset-bottom));
  }
}
aside.slider #rule_slider input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
  outline: none;
}
aside.slider #rule_slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  cursor: ew-resize;
  margin-top: -20px;
  height: 44px;
  width: 52.7175px;
  border: none;
  background: none;
  background-image: url("/images/connected-globe.png");
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0px 1px 2px rgba(51, 63, 72, 0.6));
}
@media (hover: hover) {
  aside.slider #rule_slider input[type=range]::-webkit-slider-thumb {
    transition: 300ms transform cubic-bezier(0.68, 0.07, 0.27, 1.54);
  }
  aside.slider #rule_slider input[type=range]::-webkit-slider-thumb:hover {
    transform: scale(1.1);
  }
  aside.slider #rule_slider input[type=range]::-webkit-slider-thumb:active {
    transform: scale(1.2);
  }
}
@media (prefers-color-scheme: dark) {
  aside.slider #rule_slider input[type=range]::-webkit-slider-thumb {
    filter: drop-shadow(0px 0px 2px black);
  }
}
aside.slider #rule_slider input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  cursor: ew-resize;
  margin-top: -20px;
  height: 44px;
  width: 52.7175px;
  border: none;
  background: none;
  background-image: url("/images/connected-globe.png");
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0px 1px 2px rgba(51, 63, 72, 0.6));
}
@media (hover: hover) {
  aside.slider #rule_slider input[type=range]::-moz-range-thumb {
    transition: 300ms transform cubic-bezier(0.68, 0.07, 0.27, 1.54);
  }
  aside.slider #rule_slider input[type=range]::-moz-range-thumb:hover {
    transform: scale(1.1);
  }
  aside.slider #rule_slider input[type=range]::-moz-range-thumb:active {
    transform: scale(1.2);
  }
}
@media (prefers-color-scheme: dark) {
  aside.slider #rule_slider input[type=range]::-moz-range-thumb {
    filter: drop-shadow(0px 0px 2px black);
  }
}
aside.slider #rule_slider input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  cursor: ew-resize;
  margin-top: -20px;
  height: 44px;
  width: 52.7175px;
  border: none;
  background: none;
  background-image: url("/images/connected-globe.png");
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0px 1px 2px rgba(51, 63, 72, 0.6));
}
@media (hover: hover) {
  aside.slider #rule_slider input[type=range]::-ms-thumb {
    transition: 300ms transform cubic-bezier(0.68, 0.07, 0.27, 1.54);
  }
  aside.slider #rule_slider input[type=range]::-ms-thumb:hover {
    transform: scale(1.1);
  }
  aside.slider #rule_slider input[type=range]::-ms-thumb:active {
    transform: scale(1.2);
  }
}
@media (prefers-color-scheme: dark) {
  aside.slider #rule_slider input[type=range]::-ms-thumb {
    filter: drop-shadow(0px 0px 2px black);
  }
}
aside.slider #rule_slider input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  border-color: transparent;
  color: transparent;
  background: #d6d6d6;
  box-shadow: inset -1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  aside.slider #rule_slider input[type=range]::-webkit-slider-runnable-track {
    height: 6px;
  }
}
@media (prefers-color-scheme: dark) {
  aside.slider #rule_slider input[type=range]::-webkit-slider-runnable-track {
    background: #515151;
  }
}
aside.slider #rule_slider input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  border-color: transparent;
  color: transparent;
  background: #d6d6d6;
  box-shadow: inset -1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  aside.slider #rule_slider input[type=range]::-moz-range-track {
    height: 6px;
  }
}
@media (prefers-color-scheme: dark) {
  aside.slider #rule_slider input[type=range]::-moz-range-track {
    background: #515151;
  }
}
aside.slider #rule_slider input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  border-color: transparent;
  color: transparent;
  background: #d6d6d6;
  box-shadow: inset -1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  aside.slider #rule_slider input[type=range]::-ms-track {
    height: 6px;
  }
}
@media (prefers-color-scheme: dark) {
  aside.slider #rule_slider input[type=range]::-ms-track {
    background: #515151;
  }
}
aside.slider #rule_slider input[type=range]::-ms-fill-lower {
  width: 100%;
  height: 4px;
  cursor: pointer;
  border-color: transparent;
  color: transparent;
  background: #d6d6d6;
  box-shadow: inset -1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  aside.slider #rule_slider input[type=range]::-ms-fill-lower {
    height: 6px;
  }
}
@media (prefers-color-scheme: dark) {
  aside.slider #rule_slider input[type=range]::-ms-fill-lower {
    background: #515151;
  }
}
aside.slider #rule_slider input[type=range]::-ms-fill-upper {
  width: 100%;
  height: 4px;
  cursor: pointer;
  border-color: transparent;
  color: transparent;
  background: #d6d6d6;
  box-shadow: inset -1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  aside.slider #rule_slider input[type=range]::-ms-fill-upper {
    height: 6px;
  }
}
@media (prefers-color-scheme: dark) {
  aside.slider #rule_slider input[type=range]::-ms-fill-upper {
    background: #515151;
  }
}
aside.slider #rule_slider input[type=range]:focus {
  outline: none;
}
@media (prefers-color-scheme: dark) {
  aside.slider {
    background: black;
    box-shadow: none;
    border-top: 1px solid var(--text-primary-color);
  }
}

@font-face {
  font-family: "BlackChancery";
  src: url("/fonts/BlackChancery.eot");
  src: url("/fonts/BlackChancery.eot?#iefix") format("embedded-opentype"), url("/fonts/BlackChancery.woff2") format("woff2"), url("/fonts/BlackChancery.woff") format("woff"), url("/fonts/BlackChancery.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
:root {
  --background-color: var(--connected-blue);
  --text-document-color: #543404;
  --link-color: #d7a457;
}

html {
  line-height: 1.5;
  background-color: var(--background-color);
}

.container {
  padding: var(--space-between-sm) var(--space-between-sm) 128px var(--space-between-sm);
  padding-top: calc(env(safe-area-inset-top) + var(--space-between-sm));
  padding-bottom: calc(env(safe-area-inset-bottom) + 128px);
  transition: 100ms padding ease-in-out;
}
@media screen and (min-width: 768px) {
  .container {
    padding-top: var(--space-side-padding);
    padding-top: calc(env(safe-area-inset-top) + var(--space-side-padding));
  }
}
.container:after {
  background: #fff;
}
@media (prefers-color-scheme: dark) {
  .container:after {
    background: black;
  }
}

h2.rule_type,
.rule {
  max-height: 150px;
  opacity: 1;
  transition: 750ms max-height ease-in, 495ms opacity ease-in;
  transition-delay: 0ms, 247.5ms;
}
h2.rule_type.hidden,
.rule.hidden {
  max-height: 0px;
  opacity: 0;
  transition: 750ms max-height ease-out, 495ms opacity ease-out;
}
h2.rule_type.hidden.gone,
.rule.hidden.gone {
  display: none;
}

.top_button,
aside.slider {
  box-shadow: 0px 1px 4px rgba(84, 52, 4, 0.5);
}

#back_button svg path:last-of-type,
#share_button svg g {
  fill: var(--text-document-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--relay-blue);
  }
}
