:root {
  --connected-green: #449934;
  --connected-yellow: #fcc200;
  --connected-orange: #ef7b00;
  --connected-red: #e51f2e;
  --connected-purple: #9d3489;
  --connected-blue: #0d87ca;
  --relay-blue: #333f48;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

p {
  margin: 0;
}

#back_button {
  display: block;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}
@media (hover: hover) {
  #back_button {
    transition: 300ms transform cubic-bezier(0.68, 0.07, 0.27, 1.54);
  }
  #back_button:hover {
    transform: scale(1.2);
  }
}

.banner {
  text-align: center;
  color: white;
  padding: 8px 16px;
}

/* For debugging */
pre {
  font-size: 0.8rem;
  overflow-x: scroll;
  padding: 10px;
  background: pink;
}
@media (prefers-color-scheme: dark) {
  pre {
    background: #230034;
  }
}
