:root {
  --connected-green: #449934;
  --connected-yellow: #fcc200;
  --connected-orange: #ef7b00;
  --connected-red: #e51f2e;
  --connected-purple: #9d3489;
  --connected-blue: #0d87ca;
  --relay-blue: #333f48;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

p {
  margin: 0;
}

#back_button {
  display: block;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}

/* For debugging */
pre {
  font-size: 0.8rem;
  overflow-x: scroll;
  /* padding: var(--distance); */
  background: pink;
}
