nav.nav_container {
  height: auto;
}
nav.nav_container #nav_content_sticky {
  position: relative;
}
nav.nav_container.sticky #nav_content_sticky {
  position: relative;
}

section.navigate_with_mobile_menu {
  display: block;
}
section.navigate_with_mobile_menu h2 {
  display: block;
}

h2.list_title {
  color: var(--text-primary-color) !important;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
h2.list_title svg {
  display: none;
}

.nav_content #nav_content--extra-items.hidden {
  max-height: unset;
}

.charts,
aside.slider,
button.back_button,
#reset_button,
#fixed_search,
#search_button,
#share_button,
#music_button,
#close_button,
#nav_opener,
p#promote_webapp {
  display: none;
}
