:root {
	--background-color: #FFF;
	--text-primary-color: #31373D;
	--text-secondary-color: #777777;
	--menu-color: #106DC6;
	--link-color: #106DC6;

	--distance: 0px;
	/* --nav-height: 44px; */
	--safe-distance-top:    max(var(--distance),env(safe-area-inset-top));
	--safe-distance-bottom: max(var(--distance),env(safe-area-inset-bottom));
	--safe-distance-left:   max(var(--distance),env(safe-area-inset-left));
	--safe-distance-right:  max(var(--distance),env(safe-area-inset-right));
	/* --hover-animation-duration: 200ms; */
	
	font-size: 16px;
}

html {
	line-height: 1.5;
    background-color: var(--background-color);
	color: var(--text-primary-color);
}

body {
	font-family: sans-serif;
	width: 100vw;
	overflow-x: hidden;
}

a:link {
	color: var(--link-color);
}

nav {
	background: var(--menu-color);
}

nav a:link {
	color: white;
	opacity: 0.7;
}

nav a:hover {
	opacity: 1;
}

span.tag {
	color: #FFF;
	background: orange; // TODO
	padding: 0px 4px;
	border-radius: 4px;
}

// Generic border
span.tag,
.list_graphic {
	border: 0.5px solid rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 400px) {}
@media screen and (min-width: 600px) {}
@media screen and (min-width: 800px) {}
@media screen and (min-height: 1000px) {}

@media (prefers-color-scheme: dark) {
	/* :root {
		--background-color: #31373D;
		--text-primary-color: #FFFFFF;
		--text-secondary-color: #777777;
	} */
}