@keyframes connected_colors {
  0% {
    background-color: var(--connected-green);
  }
  14% {
    background-color: var(--connected-yellow);
  }
  29% {
    background-color: var(--connected-orange);
  }
  43% {
    background-color: var(--connected-red);
  }
  57% {
    background-color: var(--connected-purple);
  }
  71% {
    background-color: var(--connected-blue);
  }
  86% {
    background-color: var(--relay-blue);
  }
  100% {
    background-color: var(--connected-green);
  }
}
:root {
  --background-color: #fff;
  --text-secondary-color: #777777;
  --link-color: var(--connected-blue);
  --link-hover-color: #23527c;
  --element-hover-color: rgba(0, 0, 0, 0.05);
  --element-corner-radius: 8px;
  --element-padding: 8px;
  --element-padding-neg: -8px;
  --corner-radius: 4px;
  /* --hover-animation-duration: 200ms; */
  --graphic-border: 1px solid rgba(0, 0, 0, 0.1);
  --graphic-size: 60px;
}

@media screen and (min-width: 1200px) {
  :root {
    --graphic-size: 80px;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000000;
    --text-secondary-color: #929292;
    --link-hover-color: #33adf1;
    --graphic-border: 1px solid rgba(255, 255, 255, 0.2);
    --element-hover-color: rgba(255, 255, 255, 0.1);
  }
}
header {
  position: relative;
  text-align: center;
  padding: var(--space-between-lg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header.home {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.33) 0%, rgba(255, 255, 255, 0.84) 100%), url("/images/confetti.png");
  padding: 48px var(--space-side-padding);
}
@media (prefers-color-scheme: dark) {
  header.home {
    color: white;
    background-image: linear-gradient(180deg, rgba(51, 63, 72, 0.33) 0%, rgba(51, 63, 72, 0.84) 100%), url("/images/confetti.png");
  }
}
@media screen and (min-width: 992px) {
  header.home {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
header.home .hero_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header.home .hero_content img#trophy {
  height: 120px;
  margin-bottom: var(--space-between-md);
}
@media (hover: hover) {
  header.home .hero_content img#trophy {
    transition: 300ms transform cubic-bezier(0.68, 0.07, 0.27, 1.54);
    cursor: pointer;
  }
  header.home .hero_content img#trophy:hover {
    transform: scale(1.05);
  }
  header.home .hero_content img#trophy:active {
    transform: scale(0.95);
  }
}
header.home .hero_content h1 {
  margin-bottom: 4px;
}
@media screen and (min-width: 992px) {
  header.home .hero_content {
    flex-direction: row;
    justify-content: center;
  }
  header.home .hero_content img#trophy {
    height: 160px;
    margin-bottom: 0;
    margin-right: var(--space-between-lg);
  }
  header.home .hero_content .hero_heading {
    text-align: left;
  }
}
header.about h1, header.details h1, header.leaderboard h1 {
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
  color: white;
  left: var(--space-between-lg);
  right: var(--space-between-lg);
  bottom: var(--space-between-lg);
  text-shadow: 0px 1px 6px rgba(51, 63, 72, 0.5);
}
header.details {
  height: 375px;
  background-color: var(--connected-blue);
  background-size: cover;
  background-image: url(/images/diagonal-rainbow-header.svg);
}
header.details .gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(180deg, rgba(51, 63, 72, 0) 75%, rgba(51, 63, 72, 0.2) 100%);
}
@media (prefers-color-scheme: dark) {
  header.details .gradient {
    background-image: linear-gradient(180deg, rgba(51, 63, 72, 0) 40%, rgba(51, 63, 72, 0.6) 100%);
  }
}
header.details .big_year {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 900;
  font-size: 180px;
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 0px 2px 8px rgba(51, 63, 72, 0.2);
}
header.details.custom.color {
  background-size: auto 100%;
}
header.details.contain_img img {
  height: 70%;
  filter: drop-shadow(0px 1px 6px rgba(51, 63, 72, 0.5));
  border-radius: var(--corner-radius);
}
header.about, header.leaderboard {
  height: 250px;
  background-image: url(/images/connected-map.png);
}

.nav_content {
  background-color: var(--connected-blue);
  text-align: center;
  padding: 0;
  overflow-x: auto;
}
.nav_content.home {
  animation-name: connected_colors;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}
.nav_content .nav_content--items {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.nav_content .nav_content--items a {
  padding: var(--space-between-md) var(--space-between-sm);
  white-space: nowrap;
}
.nav_content .nav_content--items a span.need_space {
  display: none;
}
@media screen and (min-width: 375px) {
  .nav_content .nav_content--items a {
    padding: var(--space-between-md);
  }
}
@media screen and (min-width: 576px) {
  .nav_content .nav_content--items a span.need_space {
    display: inline;
  }
}
.nav_content .nav_content--items a.active {
  opacity: 1;
  font-weight: bold;
  text-decoration: none;
}
@media (hover: hover) {
  .nav_content .nav_content--items a:hover {
    background: var(--element-hover-color);
  }
}

nav.nav_container {
  position: relative;
  height: 1px;
}
nav.nav_container .nav_content {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
}
nav.nav_container.sticky .nav_content {
  position: fixed;
}

section {
  padding: 0 var(--space-side-padding);
}

section,
footer {
  margin-top: var(--space-between-lg);
}

section.navigate_with_mobile_menu {
  display: none;
}
section.navigate_with_mobile_menu.active {
  display: block;
}
section.navigate_with_mobile_menu h2 {
  display: none;
}

.section_group--list:not(:first-of-type) {
  margin-top: var(--space-between-lg);
}

@media screen and (min-width: 768px) {
  section.navigate_with_mobile_menu {
    display: block;
  }
  section.navigate_with_mobile_menu h2 {
    display: block;
  }

  section {
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
  }
  section.large_columns {
    padding-top: var(--space-between-lg);
    max-width: 1400px;
  }

  .section_group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .section_group .section_group--list {
    margin-top: 0;
    flex-basis: calc((100% / 3) - (var(--space-between-lg) / 2));
  }
  .section_group .section_group--list + .section_group--list {
    margin-left: var(--space-between-lg);
  }
}
footer {
  padding: var(--space-side-padding);
  color: white;
  text-align: center;
  background: var(--relay-blue);
  font-size: 0.875rem;
  position: relative;
}

#header_corner {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
  background-image: url("/images/triangle.svg");
  background-size: cover;
}
#header_corner img#relay_logo {
  width: 35px;
  position: absolute;
  right: 50px;
  top: 10px;
}
@media screen and (min-width: 992px) {
  #header_corner {
    width: 120px;
    height: 120px;
  }
  #header_corner img#relay_logo {
    width: 50px;
    right: 65px;
  }
}
@media (hover: hover) {
  #header_corner img#relay_logo {
    transition: 300ms transform cubic-bezier(0.68, 0.07, 0.27, 1.54);
  }
  #header_corner:hover img#relay_logo {
    transform: scale(1.3) translate(0px, -1px);
  }
}
@media screen and (hover: hover) and (min-width: 992px) {
  #header_corner:hover img#relay_logo {
    transform: scale(1.2);
  }
}

#footer_corner {
  display: none;
}
@media screen and (min-width: 576px) {
  #footer_corner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(110deg, rgba(51, 63, 72, 0.8) 30%, indigo 80%);
    display: flex;
    padding: var(--space-side-padding);
  }
  #footer_corner img {
    width: 2rem;
  }
}
@media (hover: hover) {
  #footer_corner img {
    transition: 300ms transform cubic-bezier(0.68, 0.07, 0.27, 1.54);
  }
  #footer_corner:hover img {
    transform: scale(1.3);
  }
}
@media screen and (hover: hover) and (min-width: 768px) {
  #footer_corner:hover img {
    transform: scale(1.2);
  }
}

.item_graphic {
  border-radius: var(--corner-radius);
  border: var(--graphic-border);
  width: var(--graphic-size);
  height: var(--graphic-size);
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: center;
}
.item_graphic.avatar {
  border-radius: 50%;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.85) 100%);
}
@media (prefers-color-scheme: dark) {
  .item_graphic.avatar {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.3) 100%);
  }
}
.item_graphic.avatar img {
  width: 120%;
  height: 120%;
  object-fit: contain;
  object-position: center;
  position: absolute;
  left: -10%;
  top: -10%;
}
.item_graphic.annual {
  color: white;
  text-align: center;
  line-height: var(--graphic-size);
  font-weight: 800;
  font-size: calc(var(--graphic-size) / 1.8);
}
.item_graphic.diagonal {
  background-color: var(--connected-blue);
  background-size: cover;
  background-image: url(/images/diagonal-rainbow-header.svg);
}
.item_graphic.fill_image {
  background-size: cover;
}
.item_graphic.placeholder {
  background-color: var(--relay-blue);
  animation-name: connected_colors;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}

ul.list_item_group {
  margin-left: var(--element-padding-neg);
  margin-right: var(--element-padding-neg);
}

li.list_item + li.list_item {
  margin-top: var(--space-between-sm);
}

li.list_item .list_item_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--element-padding);
}
li.list_item .list_item_content .list_item_labels {
  margin-left: var(--space-between-md);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  width: 100%;
}
li.list_item .list_item_content .list_item_labels .secondary_string {
  margin-top: 4px;
  color: var(--text-secondary-color);
  font-size: 0.75rem;
}
li.list_item .list_item_content .list_item_labels .secondary_string .tag {
  margin-right: 8px;
  color: white;
}
li.list_item.host_details .list_item_content {
  align-items: flex-start;
}
li.list_item.host_details .list_item_content .list_item_labels {
  margin-top: 8px;
}
li.list_item.host_details .list_item_content .list_item_labels .ranking {
  color: var(--text-secondary-color);
  font-size: 0.75rem;
}
li.list_item.host_details .list_item_content .list_item_labels .mini_stats {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 8px;
  width: 100%;
}
li.list_item.host_details .list_item_content .list_item_labels .mini_stats .mini_stats--list {
  width: 100%;
  max-width: 200px;
}
li.list_item.host_details .list_item_content .list_item_labels .mini_stats .mini_stats--list + .mini_stats--list {
  margin-left: 8px;
}
@media screen and (min-width: 768px) {
  li.list_item.host_details .list_item_content {
    flex-direction: column;
  }
  li.list_item.host_details .list_item_content .list_item_labels {
    margin-left: 0;
  }
}
li.list_item a.list_item_content {
  text-decoration: none;
  font-weight: normal;
}
li.list_item a.list_item_content .list_item_labels .label1 {
  font-weight: 500;
  text-decoration: underline;
}
li.list_item a.list_item_content .list_item_labels .label2 {
  color: var(--text-primary-color);
}
@media (hover: hover) {
  li.list_item a.list_item_content {
    border-radius: var(--element-corner-radius);
    background: var(--background-color);
    transition: 300ms background ease-in-out;
  }
  li.list_item a.list_item_content .item_graphic {
    transition: 300ms transform cubic-bezier(0.68, 0.07, 0.27, 1.54);
  }
  li.list_item a.list_item_content:hover {
    background: var(--element-hover-color);
  }
  li.list_item a.list_item_content:hover .item_graphic {
    transform: scale(1.1);
  }
}
li.list_item a[href^="https://www.youtube.com"] .secondary_string:before {
  content: url("/images/youtube.svg");
  display: inline-block;
  margin-right: 0.3em;
}

span.tag {
  color: #fff;
  background: var(--tag-color);
  padding: 0px 4px;
  border-radius: var(--corner-radius);
  border: var(--graphic-border);
}

.host_picks h3 {
  overflow: auto;
}
.host_picks h3:after {
  content: "";
  clear: both;
  display: table;
}
.host_picks h3 span {
  color: var(--text-secondary-color);
  float: right;
  font-variant-numeric: tabular-nums;
}

li.pick_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--element-padding);
}
li.pick_item span.round {
  color: var(--text-secondary-color);
  font-size: 0.75rem;
}
li.pick_item p.pick {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
li.pick_item p.pick span.label {
  flex-grow: 1;
}
li.pick_item p.pick span.points {
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 8px;
  color: white;
  width: 1.3rem;
  height: 1.3rem;
  border: var(--graphic-border);
  display: inline-block;
  line-height: 1.2rem;
  text-align: center;
  letter-spacing: -0.05em;
  font-size: 0.75rem;
  font-weight: 600;
  position: relative;
  border-radius: 50%;
  background: var(--connected-yellow);
}
li.pick_item p.pick span.points.flexy {
  border-radius: var(--corner-radius);
}
li.pick_item p.pick span.points.regular.correct, li.pick_item p.pick span.points.risky.correct {
  background: var(--connected-green);
}
li.pick_item p.pick span.points.flexy.correct {
  background: var(--connected-blue);
}
li.pick_item p.pick span.points.wrong {
  background: var(--connected-red);
}
li.pick_item p.pick span.points.risky:after {
  content: "";
  border-radius: 50%;
  border: 1px solid;
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
}
li.pick_item p.pick span.points.risky.correct:after {
  border-color: var(--connected-green);
}
li.pick_item p.pick span.points.risky.wrong:after {
  border-color: var(--connected-red);
}
li.pick_item .note p {
  color: var(--text-secondary-color);
  font-size: 0.75rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.avatar_leaderboard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 650px;
  margin: var(--space-between-lg) auto;
  padding: 0 var(--space-side-padding);
}
.avatar_leaderboard .host {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 0;
  flex-grow: 1;
  margin: 0 8px;
}
.avatar_leaderboard .host .avatar {
  margin-bottom: 8px;
  margin: 8px;
}
.avatar_leaderboard .host span:not(:first-of-type) {
  margin-top: 4px;
}
.avatar_leaderboard .host .name {
  font-weight: bold;
}
.avatar_leaderboard .host .title {
  color: var(--text-secondary-color);
  font-size: 0.75rem;
}
.avatar_leaderboard .host .title span.emoji {
  display: none;
}
.avatar_leaderboard .host.winner .avatar {
  margin-top: 0px;
  margin-bottom: 16px;
  cursor: pointer;
}
.avatar_leaderboard .host.winner .avatar:before, .avatar_leaderboard .host.winner .avatar:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.avatar_leaderboard .host.winner .avatar:before {
  z-index: -1;
  top: -4px;
  left: -4px;
  bottom: -4px;
  right: -4px;
  background: var(--background-color);
}
.avatar_leaderboard .host.winner .avatar:after {
  z-index: -2;
  top: -8px;
  left: -8px;
  bottom: -8px;
  right: -8px;
  background-color: var(--connected-orange);
  background-image: linear-gradient(-45deg, var(--connected-green), var(--connected-yellow), var(--connected-orange), var(--connected-red), var(--connected-purple), var(--connected-blue));
  background-size: 300% 300%;
  animation-name: gradient;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@media (hover: hover) {
  .avatar_leaderboard .host.winner .avatar:after, .avatar_leaderboard .host.winner .avatar:before,
.avatar_leaderboard .host.winner .avatar img {
    transition: 300ms transform cubic-bezier(0.68, 0.07, 0.27, 1.54);
  }
  .avatar_leaderboard .host.winner .avatar:hover:before, .avatar_leaderboard .host.winner .avatar:hover:after {
    transform: scale(1.1);
  }
  .avatar_leaderboard .host.winner .avatar:hover img {
    transform: scale(1.4) rotate(-10deg);
  }
  .avatar_leaderboard .host.winner .avatar:active:before, .avatar_leaderboard .host.winner .avatar:active:after {
    transform: scale(0.95);
  }
}

.host_stats {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.host_stats .host_item_content {
  margin-left: var(--space-between-md);
  margin-top: 6px;
}
.host_stats .host_item_content span.emoji {
  display: inline-block;
  margin-right: 4px;
  width: 1.6em;
}
.host_stats .host_item_content h4 {
  margin-top: var(--space-between-md);
}
.host_stats .host_item_content h3 + p {
  color: var(--text-secondary-color);
  font-size: 0.75rem;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .host_stats {
    flex-direction: column;
  }
  .host_stats .host_item_content {
    margin-left: 0;
  }
}
table.full_stats {
  border-collapse: collapse;
  border: none;
}
table.full_stats td {
  vertical-align: top;
}
table.full_stats td.value {
  font-weight: bold;
  padding-right: 4px;
  font-variant-numeric: tabular-nums;
}

.charts {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 8px 0;
  flex-wrap: wrap;
}
.charts .chart_pick_type {
  position: relative;
}
.charts .chart_pick_type .chart_emoji {
  position: absolute;
  left: 0;
  right: 0;
  top: 16px;
  z-index: -1;
  text-align: center;
}
.charts .chart_pick_type .chart_label {
  color: var(--text-secondary-color);
  font-size: 0.75rem;
  text-align: center;
  display: block;
  margin-top: 4px;
}
.charts .chart_pick_type + .chart_pick_type {
  margin-left: var(--space-between-md);
}
.charts .chart-container {
  position: relative;
  height: 60px;
  width: 60px;
}
@media screen and (min-width: 1400px) {
  .charts .chart_pick_type .chart_emoji {
    top: 25px;
  }
  .charts .chart-container {
    height: 80px;
    width: 80px;
  }
}

html {
  line-height: 1.5;
  background-color: var(--background-color);
  color: var(--text-primary-color);
}

h1 {
  font-weight: 800;
  font-size: 2rem;
  line-height: 1;
  margin: 0;
}

h3 {
  margin: 0;
  font-weight: 600;
  font-size: 1.25rem;
}

h4 {
  text-transform: uppercase;
  color: var(--text-secondary-color);
  font-weight: bold;
  font-size: 0.875rem;
  margin: 0;
}

a {
  font-weight: 500;
}
a:link, a:visited {
  color: var(--link-color);
}
a:hover, a:focus, a:active {
  color: var(--link-hover-color);
}
a span.emoji {
  text-decoration: none;
  display: inline-block;
  margin-right: 4px;
}
a[href^="https://twitter.com"]:after {
  content: url("/images/twitter.svg");
  display: inline-block;
  margin-left: 0.3em;
  transition: 300ms transform cubic-bezier(0.68, 0.07, 0.27, 1.54);
  opacity: 0.7;
  transform: translate(0px, 1px);
}
a[href^="https://twitter.com"]:hover:after {
  opacity: 1;
  transform: translate(3px, 0px);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#back_button {
  box-shadow: 0px 1px 6px rgba(51, 63, 72, 0.5);
}
