// @use "variables" as var;

#back_button svg path:last-of-type,
#share_button svg g {
	fill: var(--text-document-color);
}

#music_button {
	right: 20px;
	div.pause {
		display: none;
	}

	&.is-playing {
		div.play {
			display: none;
		}
		div.pause {
			display: block;
		}
	}
}
