@use "variables" as var;

@mixin input-icon {
	opacity: 0.3;
	@media (prefers-color-scheme: dark) {
		opacity: 0.6;
	}
	width: 1.4rem;
	height: 1.4rem;
	background-size: contain;
	background-repeat: no-repeat;
	@media (hover: hover) {
		&:hover {
			opacity: 1;
		}
	}
}

#filter_details {
	// padding-top: calc(var(--search-height) + 4px);
	// margin-top: var(--space-between-md);
	// padding: calc(var(--search-height) + 8px + var(--space-between-md)) var(--space-between-md) 0;

	// padding: calc(var(--search-height) + var(--space-between-md)) var(--space-between-md) 8px 8px;

	position: relative;
	border-radius: calc((var(--search-height) / 2) + 4px);
	@media screen and (min-width: var.$break-md) {
		border-radius: calc((var(--search-height) / 2) + 8px);
	}

	overflow: hidden;
	transition-duration: var.$hover-duration;
	// transition-duration: 0s;
	transition-timing-function: ease;
	transition-property: background, box-shadow, -webkit-backdrop-filter, backdrop-filter;
	// transition-delay: 200ms;

	& > summary {
		list-style: none;
		&::-webkit-details-marker {
			display: none;
		}
		outline: none;
		margin: 0 var(--space-between-md);
		padding: calc(var(--search-height) + 4px + var(--space-between-md)) 0 var(--space-between-md) 0;
		text-align: right;

		cursor: pointer;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;

		color: var(--link-color);
		@media (hover: hover) {
			&:hover {
				color: var(--link-hover-color);
			}
		}
		&:focus,
		&:active {
			color: var(--link-hover-color);
		}
		.closed {
			color: white;
			display: inline;
			.filter_icon svg g {
				fill: white;
			}
		}
		.opened {
			display: none;
		}
		.filter_icon {
			margin-left: 8px;
			transform: translateY(2px);
			display: inline-block;
			svg {
				height: 1.2rem;
				width: auto;
			}
		}
	}
	&[open] {
		& > summary {
			.closed {
				display: none;
			}
			.opened {
				display: inline;
			}
		}
		transition-delay: 0s;
		transition-duration: var.$hover-duration;
		box-shadow: var.$header-shadow;
		background: rgba(255, 255, 255, 0.8);
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);

		@media (prefers-color-scheme: dark) {
			background: rgba(0, 0, 0, 0.8);
		}
	}
}
.filter_content {
	position: relative;
	margin: 0 var(--space-between-md) var(--space-between-md);
	& > *:not(:first-child) {
		margin-top: var(--space-between-md);
	}
	fieldset {
		border: none;
		margin: 0;
		&:not(:first-child) {
			// margin-top: var(--space-between-md);
		}
		padding: var(--space-between-sm);

		display: flex;
		background: rgba(13, 135, 202, 0.05);
		border-radius: 4px;
		text-align: left;

		@media (prefers-color-scheme: dark) {
			background: rgba(13, 135, 202, 0.15);
		}

		&.hosts {
			justify-content: center;
			align-items: center;
			.host {
				flex-basis: calc(100% / 3);
				max-width: 120px;
				cursor: pointer;
				input[type='checkbox'] {
					display: none;
				}
				label {
					display: flex;
					flex-direction: column;
					align-items: center;
					img {
						transition: var.$pop-transition;
						transform: scale(1);
						filter: grayscale(100%);
						opacity: 0.3;
						@media (prefers-color-scheme: dark) {
							opacity: 0.5;
						}
						display: block;
						&:first-of-type {
							display: none;
						}
					}
					span {
						display: block;
						margin-top: -8px;
					}
				}
				input[type='checkbox']:checked + label {
					img {
						filter: grayscale(0%);
						opacity: 1;

						&:first-of-type {
							display: block;
						}
						&:nth-of-type(2) {
							display: none;
						}
					}
				}
				@media (hover: hover) {
					&:hover {
						img {
							transform: scale(1.2) rotate(-2deg);
						}
					}
				}
				&:focus,
				&:active {
					img {
						transform: scale(1.1) rotate(-1deg);
					}
				}
			}
			.host + .host {
				margin-left: var(--space-between-md);
			}
		}

		.filter_option {
			display: flex;
			justify-content: left;
			align-items: center;
			label,
			select {
				flex-grow: 1;
			}
		}
		.filter_option + .filter_option {
			margin-top: 4px;
		}
		.select {
			position: relative;
			select {
				padding-left: calc(1.4rem + 4px);
			}
			select:not([data-chosen='']) {
			}
			.select_icon {
				@include input-icon;
				background-image: url('/images/input-unselect.svg');
				position: absolute;
				pointer-events: none;
			}
			select:not([data-chosen='']) + .select_icon {
				background-image: url('/images/input-select.svg');
				opacity: 1;
			}
		}
		input[type='checkbox'] {
			@include input-icon;
			background-image: url('/images/input-uncheck.svg');
			margin-right: 4px;
			flex-shrink: 0;
			&:checked {
				background-image: url('/images/input-check.svg');
				opacity: 1;
			}
		}
	}
	.columns {
		fieldset {
			flex-direction: column;
		}
		@media screen and (min-width: var.$break-sm) {
			display: flex;
			fieldset {
				flex-basis: 50%;
			}
			fieldset + fieldset {
				margin-left: var(--space-between-md);
			}
		}
	}
	label {
		img {
			width: 100%;
			max-width: 100px;
			height: auto;
		}
		.emoji {
			margin-right: 4px;
		}
	}
}

.button_section {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
#reset_button {
	// position: absolute;
	// bottom: 0;
	// left: 0;
	// height: 40px;
	// padding: var(--space-between-md) 8px 8px var(--space-between-md);
	&:disabled {
		color: var(--text-secondary-color);
	}
}

#search_button_plus {
	display: flex;
	justify-content: center;
	align-items: center;

	box-shadow: var.$header-shadow;
	background: white;
	// background: var(--background-color);
	// @media (prefers-color-scheme: dark) {
	// 	border: 1px solid var(--connected-blue);
	// }
	padding-left: 16px;
	border-radius: 26px;
	font-weight: 500;
	transition: var.$pop-transition;
	svg {
		// margin-left: var(--space-between-sm);

		transform: rotate(180deg) scale(0.85);
		path:first-child {
			fill: none;
		}
	}
	@media (hover: hover) {
		&:hover {
			transform: scale(1.1);
		}
	}
	&:focus,
	&:active {
		transform: scale(1.05);
	}
}
