@use "variables" as var;

header {
	position: relative;
	text-align: center;
	padding: var(--space-between-lg);
	background-size: cover;
	background-position: center;
	&.home {
		background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.33) 0%, rgba(255, 255, 255, 0.84) 100%),
			url('/images/confetti.png');
		@media (prefers-color-scheme: dark) {
			color: white;
			background-image: linear-gradient(180deg, rgba(51, 63, 72, 0.33) 0%, rgba(51, 63, 72, 0.84) 100%),
				url('/images/confetti.png');
		}
		padding: 48px var(--space-side-padding);
		.hero_content {
			display: flex;
			flex-direction: column;
			align-items: center;
			img#trophy {
				height: 120px;
				margin-bottom: var(--space-between-md);
			}
			h1 {
				margin-bottom: 4px;
			}
			@media screen and (min-width: var.$break-lg) {
				flex-direction: row;
				justify-content: center;

				img#trophy {
					height: 160px;
					margin-bottom: 0;
					margin-right: var(--space-between-lg);
				}
				.hero_heading {
					text-align: left;
				}
			}
		}
	}
	&.details,
	&.leaderboard {
		h1 {
			text-transform: uppercase;
			position: absolute;
			color: white;
			left: var(--space-between-lg);
			right: var(--space-between-lg);
			bottom: var(--space-between-lg);
		}
	}
	&.details {
		height: 375px;
		background-color: var(--connected-blue);
		background-size: cover;

		// Relay blue gradient over the diagonal Connected colors
		background-image: linear-gradient(180deg, rgba(51, 63, 72, 0) 75%, rgba(51, 63, 72, 0.2) 100%),
			url(/images/diagonal-rainbow-header.svg);
		@media (prefers-color-scheme: dark) {
			background-image: linear-gradient(180deg, rgba(51, 63, 72, 0) 40%, rgba(51, 63, 72, 0.6) 100%),
				url(/images/diagonal-rainbow-header.svg);
		}
	}
	&.leaderboard {
		height: 250px;
		background-image: url(/images/connected-map.png);
	}

	#corner_tag {
		position: absolute;
		top: 0;
		left: 0;
		width: 90px;
		height: 90px;
		background-image: url('/images/triangle.svg');
		background-size: cover;
		img#relay_logo {
			width: 35px;
			position: absolute;
			right: 50px;
			top: 10px;
		}
		@media (hover: hover) {
			img#relay_logo {
				transition: var.$pop-transition;
			}
			&:hover {
				img#relay_logo {
					transform: scale(1.3) translate(0px, -1px);
				}
			}
		}
	}
}
