@use "variables" as var;

header {
	position: relative;
	text-align: center;
	padding: var(--space-between-lg);
	background-size: cover;
	background-position: center;
	&.home {
		background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.33) 0%, rgba(255, 255, 255, 0.84) 100%),
			url('/images/confetti.png');
		@media (prefers-color-scheme: dark) {
			color: white;
			background-image: linear-gradient(180deg, rgba(51, 63, 72, 0.33) 0%, rgba(51, 63, 72, 0.84) 100%),
				url('/images/confetti.png');
		}
		padding: 48px var(--space-side-padding);
		@media screen and (min-width: var.$break-lg) {
			padding-top: 100px;
			padding-bottom: 100px;
		}
		.hero_content {
			display: flex;
			flex-direction: column;
			align-items: center;
			img#trophy {
				height: 120px;
				margin-bottom: var(--space-between-md);
				@media (hover: hover) {
					transition: var.$pop-transition;
					cursor: pointer;
					&:hover {
						transform: scale(1.05);
					}
					&:active {
						transform: scale(0.95);
					}
				}
			}
			h1 {
				margin-bottom: 4px;
			}
			@media screen and (min-width: var.$break-lg) {
				flex-direction: row;
				justify-content: center;

				img#trophy {
					height: 160px;
					margin-bottom: 0;
					margin-right: var(--space-between-lg);
				}
				.hero_heading {
					text-align: left;
				}
			}
		}
	}
	&.about,
	&.details,
	&.leaderboard {
		h1 {
			text-transform: uppercase;
			position: absolute;
			color: white;
			left: var(--space-between-lg);
			right: var(--space-between-lg);
			bottom: var(--space-between-lg);
		}
	}
	&.details {
		height: 375px;
		background-color: var(--connected-blue);
		background-size: cover;

		// Relay blue gradient over the diagonal Connected colors
		background-image: linear-gradient(180deg, rgba(51, 63, 72, 0) 75%, rgba(51, 63, 72, 0.2) 100%),
			url(/images/diagonal-rainbow-header.svg);
		@media (prefers-color-scheme: dark) {
			background-image: linear-gradient(180deg, rgba(51, 63, 72, 0) 40%, rgba(51, 63, 72, 0.6) 100%),
				url(/images/diagonal-rainbow-header.svg);
		}
	}
	&.about,
	&.leaderboard {
		height: 250px;
		background-image: url(/images/connected-map.png);
	}
}
