@use "variables" as var;

// Gradient background (aka winner ring) animation
// Via https://codepen.io/P1N2O/pen/pyBNzX
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

$winner_ring_size: calc(var(--graphic-size) + 16px);
$winner_double_ring_size: calc(var(--graphic-size) + 42px);

.avatar_leaderboard {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: var(--space-between-sm);
	@media screen and (min-width: var.$break-sm) {
		gap: var(--space-between-lg);
	}
	max-width: var.$readability-width;
	margin: var(--space-between-lg) auto;
	padding: 0 var(--space-side-padding);
	.host {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		order: 0;
		.avatar {
			margin-bottom: 8px;
			margin: 8px;
		}
		span:not(:first-of-type) {
			margin-top: 4px;
		}
		.name {
			font-weight: bold;
		}
		.title {
			@include var.secondary-text;
			span.emoji {
				display: none;
			}
			a.priority {
				white-space: nowrap;
			}
		}
		.string {
		}
		&.winner .avatar {
			margin-top: 0px;
			margin-bottom: 16px;
			cursor: pointer;
			// Winner ring
			.ring {
				width: $winner_ring_size;
				height: $winner_ring_size;
				position: absolute;
				border-radius: 50%;
				// 8px + the border width
				top: -9px;
				left: -9px;
				mask-image: url('/images/ring.svg');
				-webkit-mask-image: url('/images/ring.svg');
				mask-repeat: no-repeat;
				-webkit-mask-repeat: no-repeat;
				mask-size: $winner_ring_size;
				-webkit-mask-size: $winner_ring_size;

				background-color: var(--connected-orange);
				background-image: linear-gradient(
					-45deg,
					var(--connected-purple),
					var(--connected-blue),
					var(--connected-green),
					var(--connected-yellow),
					var(--connected-orange),
					var(--connected-red),
					var(--connected-purple),
					var(--connected-blue),
					var(--connected-green),
					var(--connected-yellow)
				);
				background-size: 500% 500%;
				animation: linear;
				animation-name: gradient;
				animation-duration: 20s;
				animation-iteration-count: infinite;
				// transform: scale(1);
			}
			@media (hover: hover) {
				.ring,
				img {
					transition: var.$pop-transition;
				}
				&:hover {
					.ring {
						transform: scale(1.1);
					}
					img {
						transform: scale(1.4) rotate(-10deg);
					}
				}
			}
			&:active {
				.ring,
				img {
					transform: scale(0.95);
				}
			}
		}
		&.winner.mega_winner .avatar {
			.ring {
				width: $winner_double_ring_size;
				height: $winner_double_ring_size;

				top: -21px;
				left: -21px;
				mask-image: url('/images/ring-double.svg');
				-webkit-mask-image: url('/images/ring-double.svg');

				mask-size: $winner_double_ring_size;
				-webkit-mask-size: $winner_double_ring_size;
			}
		}
	}
}

.host_stats {
	position: relative;
	padding-left: calc(var(--space-between-md) + var(--graphic-size));
	.avatar {
		position: absolute;
		left: 0;
		top: -6px;
	}
	h3 + p {
		@include var.secondary-text;
	}
}
@media screen and (min-width: var.$break-md) and (max-width: var.$break-lg) {
	.host_stats {
		padding-left: 0;
		.avatar {
			position: relative;
		}
	}
}

table.full_stats {
	border-collapse: collapse;
	border: none;
	td {
		vertical-align: top;
	}
	td.value {
		font-weight: bold;
		padding-right: 0.4em;
		font-variant-numeric: tabular-nums;
	}
	td.string {
		b,
		strong {
			color: var(--highlight-color);
		}
	}
}

.charts {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin: 8px 0;
	flex-wrap: wrap;
	.chart_pick_type {
		position: relative;
		.chart_emoji {
			font-family: var.$emoji-font;
			font-variant-emoji: emoji;
			position: absolute;
			left: 0;
			right: 0;
			top: 16px;
			text-align: center;
		}
		.chart_label {
			@include var.secondary-text;
			text-align: center;
			display: block;
			margin-top: 4px;
		}
	}
	.chart_pick_type + .chart_pick_type {
		margin-left: var(--space-between-md);
	}

	.chart-container {
		height: 60px;
		width: 60px;
	}
	@media screen and (min-width: var.$break-xxl) {
		.chart_pick_type .chart_emoji {
			top: 25px;
		}
		.chart-container {
			height: 80px;
			width: 80px;
		}
	}
}

.chart-container {
	position: relative;
}

@-webkit-keyframes rotateCoin {
	to {
		-webkit-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
}

@keyframes rotateCoin {
	to {
		-webkit-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
}

.rotate_coin {
	display: inline-block;
	-webkit-perspective: 100px;
	perspective: 100px;
	span {
		display: inline-block;
		-webkit-animation: rotateCoin 3s infinite linear;
		animation: rotateCoin 3s infinite linear;
	}
}
