@use "variables" as var;

ul.list_item_group {
	margin-left: var(--space-element-padding-neg);
	margin-right: var(--space-element-padding-neg);
}
li.list_item + li.list_item {
	margin-top: var(--space-between-sm);
}

li.list_item {
	.list_item_content {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: var(--space-element-padding);

		.list_item_labels {
			margin-left: var(--space-between-md);
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			flex-grow: 1;

			.label1,
			.label2,
			.secondary_string {
				display: block;
			}
			.secondary_string {
				margin-top: 4px;
				@include var.secondary-text;
				.tag {
					margin-right: 8px;
					color: white;
				}
			}
		}
	}
	&.host_details .list_item_content {
		align-items: flex-start;
		.list_item_labels {
			margin-top: 8px;
			.ranking {
				@include var.secondary-text;
			}
			.mini_stats {
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				margin-top: 8px;
				width: 100%;
				.mini_stats--list {
					width: 100%;
					max-width: 200px;
					&:last-of-type {
						margin-left: 8px;
					}
				}
			}
		}
		@media screen and (min-width: var.$break-md) {
			flex-direction: column;
			.list_item_labels {
				margin-left: 0;
			}
		}
	}
	a.list_item_content {
		text-decoration: none;
		font-weight: normal;
		.list_item_labels {
			.label1 {
				font-weight: 500;
				text-decoration: underline;
			}
			.label2 {
				color: var(--text-primary-color);
			}
		}
		@media (hover: hover) {
			border-radius: var(--element-corner-radius);
			background: var(--background-color);
			transition: var.$hover-duration background ease-in-out;
			.item_graphic {
				transition: var.$pop-transition;
			}
			&:hover {
				background: var(--element-hover-color);
				.item_graphic {
					transform: scale(1.1);
				}
			}
		}
	}
}

span.tag {
	color: #fff;
	background: var(--tag-color);
	padding: 0px 4px;
	border-radius: var(--corner-radius);
	border: var(--graphic-border);
}
