@use "variables" as var;

#header_corner {
	position: absolute;
	top: 0;
	left: 0;
	width: 90px;
	height: 90px;
	width: calc(#{var.$iX-top} + 90px);
	height: calc(#{var.$iX-top} + 90px);
	background-image: url('/images/triangle.svg');
	background-size: cover;
	img {
		width: 35px;
		position: absolute;
		right: 50px;
		top: 10px;
		right: calc(#{var.$iX-top} + 50px);
		top: calc(#{var.$iX-top} + 10px);
		transition: var.$pop-transition;
	}
	@media screen and (min-width: var.$break-lg) {
		width: 120px;
		height: 120px;
		width: calc(#{var.$iX-top} + 120px);
		height: calc(#{var.$iX-top} + 120px);

		img {
			width: 50px;
			right: 65px;
			right: calc(#{var.$iX-top} + 65px);
		}
	}
	@media (hover: hover) {
		&:hover img {
			transform: scale(1.2) translate(0px, -1px);
		}
	}
	&:active img {
		transform: scale(1.1);
	}
}

#footer_corner {
	display: none;
	@media screen and (min-width: var.$break-sm) {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		// Gradient from Lex indigo to Relay blue
		background-image: linear-gradient(110deg, rgba(51, 63, 72, 0.8) 30%, rgba(75, 0, 130, 1) 80%);
		display: flex;
		padding: var(--space-side-padding);
		img {
			transition: var.$pop-transition;
			width: 2rem;
		}
	}
	@media (hover: hover) {
		&:hover img {
			transform: scale(1.2);
		}
	}
	&:active img {
		transform: scale(1.1);
	}
}
