@use "variables" as var;

#header_corner {
	position: absolute;
	top: 0;
	left: 0;
	width: 90px;
	height: 90px;
	width: calc(#{var.$iX-top} + 90px);
	height: calc(#{var.$iX-top} + 90px);
	background-image: url('/images/triangle.svg');
	background-size: cover;
	img {
		width: 35px;
		position: absolute;
		right: 50px;
		top: 10px;
		right: calc(#{var.$iX-top} + 50px);
		top: calc(#{var.$iX-top} + 10px);
		transition: var.$pop-transition;
	}
	@media screen and (min-width: var.$break-lg) {
		width: 120px;
		height: 120px;
		width: calc(#{var.$iX-top} + 120px);
		height: calc(#{var.$iX-top} + 120px);

		img {
			width: 50px;
			right: 65px;
			right: calc(#{var.$iX-top} + 65px);
		}
	}
	@media (hover: hover) {
		&:hover img {
			transform: scale(1.2) translate(0px, -1px);
		}
	}
	&:active img {
		transform: scale(1.1);
	}
}

#footer_corner {
	display: none;
	@media screen and (min-width: var.$break-sm) {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		// Gradient from Lex indigo to Relay blue
		background-image: linear-gradient(
			104deg,
			hsl(205.71, 17.07%, 24.12%) 0%,
			hsl(207.68, 17.18%, 24.22%) 14.4%,
			hsl(213.18, 17.48%, 24.52%) 26.7%,
			hsl(221.38, 17.94%, 25%) 37%,
			hsl(231.32, 18.55%, 25.65%) 45.6%,
			hsl(242.08, 20.08%, 26.26%) 52.8%,
			hsl(250.8, 25.53%, 26.18%) 58.8%,
			hsl(257.08, 31.75%, 26.09%) 63.9%,
			hsl(261.69, 38.65%, 25.98%) 68.2%,
			hsl(265.14, 46.17%, 25.87%) 72.1%,
			hsl(267.78, 54.24%, 25.75%) 75.9%,
			hsl(269.83, 62.77%, 25.63%) 79.6%,
			hsl(271.45, 71.69%, 25.5%) 83.6%,
			hsl(272.76, 80.93%, 25.37%) 88.2%,
			hsl(273.82, 90.39%, 25.23%) 93.6%,
			hsl(274.69, 100%, 25.1%) 100%
		);
		display: flex;
		padding: var(--space-side-padding);
		img {
			transition: var.$pop-transition;
			width: 2rem;
		}
	}
	@media (hover: hover) {
		&:hover img {
			transform: scale(1.2);
		}
	}
	&:active img {
		transform: scale(1.1);
	}
}
