@use "variables" as var;

.nav_content {
	background: var(--menu-color);
	text-align: center;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	a {
		padding: var(--space-between-horizontal);
		&.active {
			opacity: 1;
			font-weight: bold;
			text-decoration: none;
		}
	}
}
nav.nav_container {
	position: relative;
	.nav_content {
		position: absolute;
		right: 0;
		left: 0;
		top: 0;

		z-index: 10;
	}
	&.sticky {
		.nav_content {
			position: fixed;
			// padding-top: env(safe-area-inset-top);
		}
	}
}
@media screen and (min-width: var.$break-md) {
	nav.nav_container {
		.nav_content {
			position: relative;
		}
		.nav_anchor {
			display: none;
		}
	}
}

section {
	padding: 0 var(--space-sides);
}

section,
footer {
	margin-top: var(--space-between-vertical);
}

section.navigate_with_mobile_menu {
	display: none;
	&.active {
		display: block;
	}
	h2 {
		display: none;
	}
}

@media screen and (min-width: var.$break-md) {
	section.navigate_with_mobile_menu {
		display: block;
		h2 {
			display: block;
		}
	}

	section {
		margin-left: auto;
		margin-right: auto;
		max-width: 1200px;
	}

	.section_group {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		.section_group--list {
			flex-basis: 100%;
		}
		.section_group--list + .section_group--list {
			margin-left: var(--space-sides);
		}
	}
}

footer {
	padding: var(--space-sides);
	color: white;
	text-align: center;
	background: var(--relay-blue);
	font-size: 0.875rem;
}
