@use "variables" as var;

html {
	line-height: 1.5;
	background: var(--relay-blue);
	color: var(--text-primary-color);
	scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
	background: var(--relay-blue);
}
.container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background-color: var(--background-color);
	&:before,
	&:after {
		background: var(--relay-blue);
	}
}

$statusbar: var.$iX-top;
#statusbar {
	height: 0;
	height: $statusbar;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 22;
	pointer-events: none;
	background-image: linear-gradient(
		to bottom,
		hsla(0, 0%, 0%, 0.4) 0%,
		hsla(0, 0%, 0%, 0.395) 9.7%,
		hsla(0, 0%, 0%, 0.381) 18.7%,
		hsla(0, 0%, 0%, 0.358) 27.2%,
		hsla(0, 0%, 0%, 0.33) 35.1%,
		hsla(0, 0%, 0%, 0.296) 42.6%,
		hsla(0, 0%, 0%, 0.259) 49.6%,
		hsla(0, 0%, 0%, 0.22) 56.2%,
		hsla(0, 0%, 0%, 0.18) 62.5%,
		hsla(0, 0%, 0%, 0.141) 68.4%,
		hsla(0, 0%, 0%, 0.104) 74.1%,
		hsla(0, 0%, 0%, 0.07) 79.5%,
		hsla(0, 0%, 0%, 0.042) 84.8%,
		hsla(0, 0%, 0%, 0.019) 89.9%,
		hsla(0, 0%, 0%, 0.005) 95%,
		hsla(0, 0%, 0%, 0) 100%
	);
}

.nav_content {
	background-color: var(--connected-blue);
	&.multicolor {
		@include var.connected_background(40s);
	}
	text-align: center;
	padding: 0;
	overflow-x: auto;
	.nav_content--items {
		display: inline-flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: stretch;
		padding: 0 var(--space-between-sm);
		a {
			transition: var.$hover-duration padding ease-in-out, var.$hover-duration background ease-in-out;
			padding: var(--space-between-md) var(--space-between-sm);
			white-space: nowrap;
			text-decoration: none;
			&.active {
				opacity: 1;
				font-weight: bold;
				text-decoration: none;
				position: relative;
				&:after {
					content: '';
					position: absolute;
					top: var(--space-between-sm);
					right: 2px;
					bottom: var(--space-between-sm);
					left: 2px;
					border-radius: 4px;
					box-shadow: 0 1px 6px rgba(51, 63, 72, 0.5);
					border: 0.5px solid rgba(0, 0, 0, 0.3);
					transition: var.$pop-transition;
				}
			}
			@media screen and (min-width: var.$break-sm) {
				padding: var(--space-between-md);
				&.active:after {
					border-radius: 50px;
				}
			}
			@media (hover: hover) {
				&:hover {
					@include var.underline;
					background: var(--element-hover-color);
					&.active {
						text-decoration: none;
						&:after {
							border-width: 1px;
							transform: scale(1.04);
						}
					}
				}
			}
		}
	}
}

.menu_top svg {
	margin-bottom: -2px;
}

nav.nav_container {
	position: relative;
	// To prevent margins of elements before/after from collapsing
	height: 1px;
	#nav_content_sticky {
		position: absolute;
		right: 0;
		left: 0;
		top: 0;

		z-index: 11;
	}
	&.sticky {
		#statusbar {
			background-image: none;
		}
		#nav_content_sticky {
			position: fixed;
			padding-top: $statusbar;
		}
	}
}

h2.list_title {
	position: relative;
	select {
		width: calc(100% + 2 * var(--element-padding));
		margin: var(--element-padding-neg);
		padding: var(--element-padding);
		padding-right: calc(1em + var(--element-padding));
		border-radius: var(--element-corner-radius);
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&.active {
		color: var(--link-color);
	}
	svg {
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 0.25em;
		height: 1em;
		width: auto;
		path {
			fill: var(--link-color);
		}
	}

	@media (hover: hover) {
		&:hover {
			select {
				background-color: var(--element-hover-color);
			}
			color: var(--link-hover-color);
			svg path {
				fill: var(--link-hover-color);
			}
		}
	}
	&:active select {
		background-color: var(--element-active-color);
	}
}

:root {
	--nav-height: 53px;
}
section {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: var(--space-between-lg);
	padding: 0 var(--space-side-padding);
	padding-left: max(var(--space-side-padding), #{var.$iX-left});
	padding-right: max(var(--space-side-padding), #{var.$iX-right});
	&.navigate_with_mobile_menu {
		// &:not(.leaderboard) {
		display: none;
		padding-top: calc(var(--nav-height) + var(--space-side-padding));
		padding-top: calc(var(--nav-height) + var(--space-side-padding) + #{var.$iX-top});
		// }
		// &.leaderboard {
		// padding-top: var(--nav-height);
		// padding-top: calc(var(--nav-height) + #{var.$iX-top});
		// }
		pointer-events: none;
		margin-top: calc(-1 * #{var.$iX-top});
		&.active {
			display: block;
		}
		h2 {
			display: none;
		}
	}
	&#list {
		margin-top: 0;
		padding-top: var(--space-between-lg);
	}
}

section.navigate_with_mobile_menu,
.host_byline {
	padding-top: calc(var(--nav-height) + var(--space-side-padding));
	padding-top: calc(var(--nav-height) + var(--space-side-padding) + #{var.$iX-top});
	margin-top: calc(-1 * #{var.$iX-top});
}

h2 {
	margin-top: 0;
	margin-bottom: var(--space-between-md);
}
section h2,
.timeline--container,
.section_group,
.section_grid {
	pointer-events: all;
}

.section_grid {
	display: grid;
	gap: var(--space-between-lg) var(--space-between-md);
	grid-gap: var(--space-between-lg) var(--space-between-md);
}

.section_group--list {
	&:not(:first-of-type) {
		margin-top: var(--space-between-lg);
	}
}

@media screen and (min-width: var.$break-sm) {
	:root {
		--nav-height: 56px;
	}
}

@media screen and (min-width: var.$break-md) {
	:root {
		--nav-height: 59px;
	}
	// .nav_container.leaderboard {
	// 	display: none;
	// }
	.host_byline {
		padding-top: 0;
		margin-top: 0;
	}
	section {
		max-width: var.$readability-width;
		&.large_columns {
			max-width: var.$break-xxl;
			&:not(.navigate_with_mobile_menu) {
				padding-top: var(--space-between-lg);
			}
		}

		&.navigate_with_mobile_menu {
			margin-top: var(--space-between-lg);
			// &:not(.leaderboard) {
			display: block;
			padding-top: var(--nav-height);
			padding-top: calc(var(--nav-height) + #{var.$iX-top});
			// }
			// &.leaderboard {
			// 	padding-top: var(--nav-height);
			// 	padding-top: calc(var(--nav-height) + #{var.$iX-top});
			// }
			&:not(:last-of-type) {
				margin-bottom: calc(-1 * (var(--nav-height)));
				margin-bottom: calc(-1 * (var(--nav-height) + #{var.$iX-top}));
			}

			h2 {
				padding-top: var(--space-between-lg);
				display: block;
			}
			&:not(:first-of-type) h2 {
				border-top: 1px solid var(--element-hover-color);
			}
		}
	}

	.section_group {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		.section_group--list {
			margin-top: 0;
			// 1/3 minus half a margin
			flex-basis: calc((100% / 3) - (var(--space-between-lg) / 2));
		}
		.section_group--list + .section_group--list {
			margin-left: var(--space-between-lg);
		}
	}
	.section_grid {
		grid-template-columns: repeat(3, minmax(0, 1fr));
		grid-auto-flow: row dense;
		gap: var(--space-between-lg) 0;
		.column1 {
			grid-column: 1 / 2;
		}
		.column2 {
			grid-column: 2 / 3;
		}
		.column3 {
			grid-column: 3 / 4;
		}
	}
}
