@use "variables" as var;

.host_picks {
	h3 {
		overflow: auto;
		&:after {
			content: '';
			clear: both;
			display: table;
		}
		span {
			color: var(--text-secondary-color);
			float: right;
			font-variant-numeric: tabular-nums;
		}
	}
}

li.pick_item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: var(--element-padding);
	& + & {
		margin-top: var(--space-between-sm);
	}

	span.round {
		@include var.secondary-text;
	}
	p.pick {
		align-self: stretch;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		span.label {
			flex-grow: 1;
		}
		span.points {
			flex-grow: 0;
			flex-shrink: 0;
			margin-left: 8px;
			color: white;
			width: 1.3rem;
			height: 1.3rem;
			border: var(--graphic-border);
			display: inline-block;
			line-height: 1.2rem;
			text-align: center;
			letter-spacing: -0.05em;
			font-size: 0.75rem;
			font-weight: 600;
			position: relative;
			border-radius: 50%;
			&.flexy {
				border-radius: var(--corner-radius);
			}
			// Status colors for points
			// Default if status is unknown
			background: var(--connected-yellow);
			&.correct {
				&.regular,
				&.risky {
					background: var(--connected-green);
				}
				&.flexy {
					background: var(--connected-blue);
				}
			}
			&.wrong {
				background: var(--connected-red);
			}
			&.wrong.eventually {
				background-origin: border-box;
				background-position: center;
				background-image: linear-gradient(120deg, var(--connected-red) 20%, var(--connected-purple) 60%);
			}

			// Risky points ring
			&.risky.correct,
			&.risky.wrong {
				&:after {
					content: '';
					border-radius: 50%;
					border: 1px solid;
					position: absolute;
					top: -3px;
					right: -3px;
					bottom: -3px;
					left: -3px;
				}
			}
			&.risky.correct:after {
				border-color: var(--connected-green);
			}
			&.risky.wrong:after {
				border-color: var(--connected-red);
			}
		}
	}
	.note {
		p {
			@include var.secondary-text;
		}
		p.category_tags,
		p + p {
			margin-top: 4px;
		}
	}
	&.interactive {
		cursor: pointer;
		background: var(--element-neutral-color);
		border-radius: var(--element-corner-radius);
		transition: var.$hover-duration background ease-in-out;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;

		& + & {
			margin-top: 2px;
		}
		p.pick span.points {
			transition: var.$pop-transition;
		}
		@media (hover: hover) {
			&:hover {
				background: var(--element-hover-color);
				p.pick span.points {
					transform: scale(1.2);
				}
			}
		}
		&:active {
			background: var(--element-active-color);
			transition: none;
			p.pick span.points {
				transform: scale(1.1);
			}
		}
	}
	&.no_results {
		color: var(--text-secondary-color);
	}
	&.manual {
		background-color: rgba(239, 123, 0, 0.15);
	}
}

.pick_item {
	&:hover,
	&:focus,
	&:active {
		.recycle {
			animation: rotateInThirds 8s infinite;
			// transform: translateX(0px) translateY(0px) rotate(0deg);
			// transform: translateX(2px) translateY(2px) rotate(120deg);
			// transform: translateX(-2px) translateY(1px) rotate(240deg);
			// transform: translateX(0px) translateY(0px) rotate(360deg);
		}

		.hourglass {
			animation: rotateInHalfs 6s infinite;
			// transform: translateY(2px) rotate(180deg);
		}
	}
}

@keyframes rotateInThirds {
	0%,
	30% {
		transform: translateX(0px) translateY(0px) rotate(0deg);
	}
	33% {
		transform: translateX(2px) translateY(2px) rotate(129deg);
	}
	35%,
	63% {
		transform: translateX(2px) translateY(2px) rotate(120deg);
	}
	66% {
		transform: translateX(-2px) translateY(1px) rotate(249deg);
	}
	68%,
	96% {
		transform: translateX(-2px) translateY(1px) rotate(240deg);
	}
	98% {
		transform: translateX(0px) translateY(0px) rotate(369deg);
	}
	100% {
		transform: translateX(0px) translateY(0px) rotate(360deg);
	}
}

@keyframes rotateInHalfs {
	0%,
	45% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(2px) rotate(190deg);
	}
	55%,
	90% {
		transform: translateY(2px) rotate(180deg);
	}
	95% {
		transform: translateY(0px) rotate(370deg);
	}
	100% {
		transform: translateY(0px) rotate(360deg);
	}
}
