@use "variables" as var;

:root {
	--background-color: #fff;
	--text-secondary-color: #777777;
	--menu-color: var(--connected-blue);
	--link-color: var(--connected-blue);
	--link-hover-color: #23527c;

	--element-hover-color: rgba(0, 0, 0, 0.05);
	--element-corner-radius: 8px;

	--space-side-padding: 16px;

	--space-between-sm: 8px;
	--space-between-md: 16px;
	--space-between-lg: 32px;

	--space-element-padding: 8px;
	--space-element-padding-neg: -8px;

	--corner-radius: 4px;

	/* --nav-height: 44px; */
	// --safe-distance-top:    max(var(--distance),env(safe-area-inset-top));
	// --safe-distance-bottom: max(var(--distance),env(safe-area-inset-bottom));
	// --safe-distance-left:   max(var(--distance),env(safe-area-inset-left));
	// --safe-distance-right:  max(var(--distance),env(safe-area-inset-right));
	/* --hover-animation-duration: 200ms; */
	--graphic-border: 1px solid rgba(0, 0, 0, 0.1);
	--graphic-size: 60px;

	font-size: 14px;
}
@media screen and (min-width: var.$break-sm) {
	:root {
		font-size: 16px;
	}
}
@media screen and (min-width: var.$break-md) {
	:root {
		--space-side-padding: 32px;
		font-size: 18px;
	}
}
@media screen and (min-width: var.$break-xl) {
	:root {
		--graphic-size: 80px;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #000000;
		--text-secondary-color: #929292;
		--link-hover-color: #33adf1;
		--graphic-border: 1px solid rgba(255, 255, 255, 0.2);

		--element-hover-color: rgba(255, 255, 255, 0.1);
	}
}
