@use "variables" as var;

:root {
	--background-color: #fff;
	--text-primary-color: #31373d;
	--text-secondary-color: #777777;
	--menu-color: var(--connected-blue);
	--link-color: var(--connected-blue);
	--link-hover-color: var(--connected-blue);

	--space-sides: 16px;
	--space-between-vertical: 32px;
	--space-between-horizontal: 16px;

	--corner-radius: 4px;
	/* --nav-height: 44px; */
	// --safe-distance-top:    max(var(--distance),env(safe-area-inset-top));
	// --safe-distance-bottom: max(var(--distance),env(safe-area-inset-bottom));
	// --safe-distance-left:   max(var(--distance),env(safe-area-inset-left));
	// --safe-distance-right:  max(var(--distance),env(safe-area-inset-right));
	/* --hover-animation-duration: 200ms; */
	--graphic-border: 1px solid rgba(0, 0, 0, 0.1);
	--graphic-size: 60px;

	font-size: 14px;
}
@media screen and (min-width: var.$break-sm) {
	:root {
		font-size: 16px;
	}
}
@media screen and (min-width: var.$break-md) {
	:root {
		--space-sides: 32px;
		font-size: 18px;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #000000;
		--text-primary-color: #9baec1;
		--text-secondary-color: #929292;
		--link-hover-color: var(--connected-blue);
		--graphic-border: 1px solid rgba(255, 255, 255, 0.2);
	}
}
