@use "variables" as var;

:root {
	--background-color: #fff;
	--text-secondary-color: #5e6d7a;
	--link-color: #106dc6;
	--link-hover-color: #23527c;

	--element-hover-color: rgba(0, 0, 0, 0.1);
	--element-corner-radius: 8px;
	--element-padding: 8px;
	--element-padding-neg: -8px;

	--corner-radius: 4px;

	--graphic-border: 1px solid rgba(0, 0, 0, 0.1);
	--graphic-size: 60px;
}

@media screen and (min-width: var.$break-md) {
	:root {
		--graphic-size: 72px;
	}
}

@media screen and (min-width: var.$break-xl) {
	:root {
		--graphic-size: 80px;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #000000;
		--text-secondary-color: #637c96;
		--link-hover-color: #33adf1;
		--graphic-border: 1px solid rgba(255, 255, 255, 0.25);

		--element-hover-color: rgba(255, 255, 255, 0.1);
	}
}
