@use "variables" as var;

@mixin slider-thumb {
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
	cursor: ew-resize;
	margin-top: -20px;
	height: 44px;
	width: 52.8px;
	border: none;
	background: none;
	background-image: url('/images/connected-globe-on-light.png');
	background-size: 90% auto;
	background-repeat: no-repeat;
	background-position: center;
	filter: drop-shadow(0px 1px 2px rgba(51, 63, 72, 0.6));
	box-shadow: none;
	@media (hover: hover) {
		transition: var.$pop-transition;
		&:hover {
			transform: scale(1.1);
		}
	}
	&:active {
		transform: scale(1.2);
	}
	@media (prefers-color-scheme: dark) {
		filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 1));
		background-image: url('/images/connected-globe-on-dark.png');
	}

	-webkit-animation-name: slider_thumb_hint;
	animation-name: slider_thumb_hint;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
}

@mixin slider-track {
	width: 100%;
	height: 4px;
	@media screen and (min-width: var.$break-md) {
		height: 6px;
	}
	cursor: pointer;

	border-color: transparent;
	color: transparent;
	background: #d6d6d6;
	box-shadow: inset -1px 1px 2px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	@media (prefers-color-scheme: dark) {
		background: #515151;
	}
}

#slider_label_container {
	position: relative;
	display: block;
	span {
		display: block;
		text-align: center;
		margin-bottom: 16px;
		&#slider_hint {
			position: absolute;
			width: 100%;

			-webkit-user-select: none;
			-ms-user-select: none;
			user-select: none;
			pointer-events: none;

			opacity: 0;
			-webkit-animation-name: slider_label_hint;
			animation-name: slider_label_hint;
			-webkit-animation-timing-function: ease;
			animation-timing-function: ease;
			-webkit-animation-duration: 4s;
			animation-duration: 4s;
			-webkit-animation-delay: 2s;
			animation-delay: 2s;
		}
	}
}

aside.slider,
#slider_hint {
	background: #fff;
	@media (prefers-color-scheme: dark) {
		background: black;
	}
}

aside.slider {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	#rule_slider {
		padding: 8px 24px 24px;
		padding-bottom: max(24px, calc(16px + #{var.$iX-bottom}));
		max-width: var.$readability-width;
		margin: 0 auto;
		color: var(--text-primary-color);
		@media screen and (min-width: var.$break-md) {
			padding: 16px 32px 24px;
			padding-bottom: max(24px, calc(16px + #{var.$iX-bottom}));
		}
		// Reset the styling
		// Via https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
		input[type='range'] {
			-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
			width: 100%; /* Specific width is required for Firefox. */
			background: transparent; /* Otherwise white in Chrome */
			outline: none;
			&::-webkit-slider-thumb {
				@include slider-thumb;
			}
			&::-moz-range-thumb {
				@include slider-thumb;
			}
			&::-ms-thumb {
				@include slider-thumb;
			}

			&::-webkit-slider-runnable-track {
				@include slider-track;
			}
			&::-moz-range-track {
				@include slider-track;
			}
			&::-ms-track {
				@include slider-track;
			}
			&::-ms-fill-lower {
				@include slider-track;
			}
			&::-ms-fill-upper {
				@include slider-track;
			}

			&:focus {
				outline: none;
			}
		}
	}
	@media (prefers-color-scheme: dark) {
		box-shadow: none;
		border-top: 1px solid var(--text-primary-color);
	}
}
