@use "variables" as var;

main {
	// Slightly wider than readability, due to paper's large padding
	max-width: 750px;
	margin: 0 auto;
	background-image: url(/images/parchment-border/light-top.png), url(/images/parchment-border/light-left.png),
		url(/images/parchment-border/light-right.png), url(/images/parchment-border/light-bottom.png),
		linear-gradient(170deg, #ffffff 0.21%, #f1f1f1 98.37%), url(/images/parchment-background.jpg);
	@media (prefers-color-scheme: dark) {
		background-image: url(/images/parchment-border/dark-top.png), url(/images/parchment-border/dark-left.png),
			url(/images/parchment-border/dark-right.png), url(/images/parchment-border/dark-bottom.png),
			linear-gradient(170deg, #0e0e0e 0.21%, #1e1e1e 98.37%), url(/images/parchment-background.jpg);
	}
	background-repeat: repeat-x, repeat-y, repeat-y, repeat-x, no-repeat, no-repeat;
	background-size: auto 32px, 32px auto, 32px auto, auto 32px, cover, cover;
	background-position: left top -65px, left -65px top, right -65px top, right bottom -65px, center, center;

	padding: 24px 24px 48px;
	color: var(--text-primary-color);
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);
	transition-property: padding, color, background-position, box-shadow;
	transition-duration: 100ms, 500ms, 600ms, 600ms;
	transition-delay: 0, 0, 0, 600ms;
	transition-timing-function: ease-in-out;
	@media screen and (min-width: var.$break-sm) {
		padding: 48px 48px 64px;
	}
	@media screen and (min-width: var.$break-md) {
		padding: 64px;
	}
	h1 {
		text-align: center;
		font-size: 3.7rem;
		line-height: 96%;
		margin: 0;
	}

	h2 {
		font-size: 1.7rem;
		margin: var(--space-between-lg) 0 4px;
	}

	em {
		opacity: 0.6;
	}

	@media screen and (min-width: var.$break-sm) {
		background-size: auto 64px, 64px auto, 64px auto, auto 64px, cover, cover;
	}

	&.parchment {
		transition-duration: 100ms, 500ms, 600ms, 300ms;
		transition-delay: 0, 0, 300ms, 0ms;
		color: var(--document-text-color);
		box-shadow: none;
		background-image: url(/images/parchment-border/light-top.png), url(/images/parchment-border/light-left.png),
			url(/images/parchment-border/light-right.png), url(/images/parchment-border/light-bottom.png),
			radial-gradient(107.69% 64.1% at 50.13% 51.34%, rgba(255, 245, 225, 0.7) 0%, rgba(255, 218, 184, 0.7) 100%),
			url(/images/parchment-background.jpg);

		background-position: left top, left top, right top, right bottom, center, center;
		@media (prefers-color-scheme: dark) {
			background-image: url(/images/parchment-border/dark-top.png), url(/images/parchment-border/dark-left.png),
				url(/images/parchment-border/dark-right.png), url(/images/parchment-border/dark-bottom.png),
				radial-gradient(
					107.69% 64.1% at 50.13% 51.34%,
					rgba(255, 227, 170, 0.7) 0%,
					rgba(255, 155, 63, 0.7) 100%
				),
				url(/images/parchment-background.jpg);
		}
		font-family: -apple-system-ui-serif, ui-serif, Georgia, serif;
		h1,
		h2 {
			font-family: 'BlackChancery', cursive;
		}
	}
	.document_footer {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding: 0 16px;
		margin-top: 32px;
		@media screen and (min-width: var.$break-sm) {
			padding: 0;
		}
		.signatures {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-top: 32px;
			border-bottom: 2px dotted var(--text-primary-color);
			padding-right: 16px;

			img {
				margin-left: -16px;
				max-height: 2.3rem;
				@media (prefers-color-scheme: dark) {
					filter: brightness(100);
				}
			}
		}
		img.seal {
			width: 24vw;
			max-width: 120px;
			align-self: flex-end;
			margin-bottom: -10px;
		}
		#ticci_seal {
			transform: rotate(9deg);
			filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.6));
		}
		#wax_seal {
			display: none;
			transform: rotate(-6deg);
			filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.4));
		}
	}
	&.parchment {
		.document_footer {
			.signatures {
				border-bottom-color: var(--document-text-color);
				img {
					filter: sepia(100%);
					opacity: 0.9;
				}
			}
		}
		#ticci_seal {
			display: none;
		}
		#wax_seal {
			display: block;
		}
	}
}

#document_date {
	text-align: center;
	margin: 5px 0 22px;
}

ol {
	margin: 0;
	padding-left: 26px;
}

div.rule p {
	margin-top: var(--space-between-md);
	del {
		text-align: center;
		text-decoration: none;
		display: block;
		opacity: 0.6;
	}
}
main a {
	padding: 2px 4px;
	margin: -2px -4px;
	border-radius: 4px;
	transition: background 100ms;
	background: rgba(215, 164, 87, 0);

	&:link,
	&:visited {
		text-decoration-color: var(--document-link-color);
		color: inherit;
	}
	@media (hover: hover) {
		&:hover,
		&:focus {
			text-decoration-color: var(--document-text-color);
			color: var(--document-text-color);
			background: var(--document-link-color);
		}
		&:active {
			text-decoration-color: black;
			color: black;
		}
	}
}

main:not(.parchment) a {
	text-decoration-color: var(--connected-blue);
}
main.parchment a {
	text-decoration-color: var(--document-link-color);
}
