@use "variables" as var;

.filters {
	position: relative;
	max-width: var.$readability-width;
	width: 100%;
	margin: var(--space-between-lg) auto 0 auto;
}

#search_field_combo {
	&.in_summary {
		position: absolute;
		z-index: 1;
		padding: 4px;
		@media screen and (min-width: var.$break-md) {
			padding: 8px;
		}
		button {
			// transition: var.$pop-transition, var.$hover-duration opacity ease;
			transition: var.$hover-duration transform ease, var.$hover-duration opacity ease;
			// transform: rotate(0deg);
			right: 8px;
			top: 8px;
			@media screen and (min-width: var.$break-md) {
				right: 16px;
				top: 16px;
			}
		}

		&.summary_open {
			button {
				// display: none;
				// transform: rotate(180deg);
				transform: translateY(80px);
				opacity: 0;
				pointer-events: none;
			}
			input[type='search'] {
				padding-right: 8px;
				@media screen and (min-width: var.$break-md) {
					padding-right: 12px;
				}
			}
		}
	}
}

mark {
	background: var(--connected-yellow);
	color: black;
	padding: 0 1px;
	margin: 0 -1px;
	border-radius: 2px;
}
