@use "variables" as var;

a {
	font-weight: 500;

	// Add Twitter/GitHub logos to their URLs
	&:not(.list_item_content) {
		&[href^="https://apps.apple.com"],
		&[href^="https://discordapp.com"],
		&[href^="https://github.com"],
		&[href^="https://gist.github.com"],
		&[href^="https://twitter.com"],
		&[href^="https://mastodon.social"]
		{
			&:after {
				display: inline-block;
				margin-left: 0.3em;
				transition: var.$pop-transition;
			}
		}
		&[href^="https://twitter.com"]
		{
			&:after {
				opacity: 0.7;
				content: url('/images/logos/twitter.svg');
				transform: translate(0px, 1px);
			}
			@media (hover: hover) {
				&:hover {
					&:after {
						transform: translate(3px, 0px);
						opacity: 1;
					}
				}
			}
		}
		&[href^="https://github.com"],
		&[href^="https://gist.github.com"]
		{
			&:after {
				content: url('/images/logos/github.svg');
				transform: translate(0px, 1px);
			}
			@media (hover: hover) {
				&:hover {
					&:after {
						transform: scale(1.2);
					}
				}
			}
		}
		&[href^="https://apps.apple.com"]
		{
			&:after {
				content: url('/images/logos/app-store.svg');
				transform: translate(0px, 1px);
			}
			@media (hover: hover) {
				&:hover {
					&:after {
						transform: scale(1.2);
					}
				}
			}
		}
		&[href^="https://discordapp.com"]
		{
			&:after {
				content: url('/images/logos/discord.svg');
				transform: translate(0px, 1px);
			}
			@media (hover: hover) {
				&:hover {
					&:after {
						transform: scale(1.2);
					}
				}
			}
		}
		&[href^="https://mastodon.social"]
		{
			&:after {
				content: url('/images/logos/mastodon.svg');
				transform: translate(-1px, 0px);
			}
			@media (hover: hover) {
				&:hover {
					&:after {
						transform: scale(1.2);
					}
				}
			}
		}
	}
}
