@use "variables" as var;

a {
	font-weight: 500;
	span.emoji {
		text-decoration: none;
		display: inline-block;
	}

	// Add Twitter/GitHub logos to their URLs
	&:not(.list_item_content) {
		&[href^="https://github.com"],
	&[href^="https://twitter.com"]
		{
			&:after {
				display: inline-block;
				margin-left: 0.3em;
				transition: var.$pop-transition;
			}
		}
		&[href^="https://twitter.com"]
		{
			&:after {
				opacity: 0.7;
				content: url('/images/twitter.svg');
				transform: translate(0px, 1px);
			}
			@media (hover: hover) {
				&:hover {
					&:after {
						transform: translate(3px, 0px);
						opacity: 1;
					}
				}
			}
		}
		&[href^="https://github.com"]
		{
			&:after {
				content: url('/images/github.svg');
				transform: translate(0px, 1px);
			}
			@media (hover: hover) {
				&:hover {
					&:after {
						transform: scale(1.2);
					}
				}
			}
		}
	}
}
