@use "variables" as var;

.tag {
	color: #fff !important;
	display: inline-block;
	background: var(--tag-color);
	padding: 0px 0.4em;
	border-radius: var(--corner-radius);
	border: var(--graphic-border);
	&:not(:last-of-type) {
		margin-right: 4px;
	}
	--first-color: 0.7;
	--next-color: 0.5;
	@media (prefers-color-scheme: dark) {
		--first-color: 0.8;
		--next-color: 0.4;
	}
	&.cat_hw {
		background: rgba(var(--relay-blue-rgb), var(--first-color));
	}
	&.cat_hw ~ &.cat_hw {
		background: rgba(var(--relay-blue-rgb), var(--next-color));
	}
	&.cat_sw {
		background: rgba(var(--connected-blue-rgb), var(--first-color));
	}
	&.cat_sw ~ &.cat_sw {
		background: rgba(var(--connected-blue-rgb), var(--next-color));
	}
	&.cat_cloud {
		background: rgba(var(--connected-purple-rgb), var(--first-color));
	}
	&.cat_cloud ~ &.cat_cloud {
		background: rgba(var(--connected-purple-rgb), var(--next-color));
	}
	&.cat_people {
		background: rgba(var(--connected-green-rgb), var(--first-color));
	}
	&.cat_people ~ &.cat_people {
		background: rgba(var(--connected-green-rgb), var(--next-color));
	}
}
a.tag {
	text-decoration: none;
	transition: var.$hover-duration background ease;
	&:hover {
		&.cat_hw {
			background: var(--relay-blue) !important;
		}
		&.cat_sw {
			background: var(--connected-blue) !important;
		}
		&.cat_cloud {
			background: var(--connected-purple) !important;
		}
		&.cat_people {
			background: var(--connected-green) !important;
		}
	}
}

p.category_tags {
	margin-bottom: -4px;
	.tag {
		margin-bottom: 4px;
	}
}
