@use "variables" as var;

.timeline--container {
	--day-width: 2px;
	@media screen and (min-width: var.$break-md) {
		--day-width: 4px;
	}
	// background: rgba(255, 0, 0, 0.1);
}

.timeline--container h2,
.timeline--content > * > * {
	margin-left: max(calc((100vw - #{var.$break-xxl}) / 2 + var(--space-side-padding)), var(--space-side-padding));
}
.timeline--content {
	& > * {
		// padding-left: 200px;
		// padding-right: calc((100vw-1400px) / 2);
	}

	overflow-x: scroll;
	// background: rgba(0, 255, 0, 0.1);
	// width: 200%;
}

.timeline--host-track {
	// height: 150px;
	padding-top: 32px;
	padding-bottom: 32px;
	// width: 200%;

	// background: rgba(255, 0, 0, 0.1);
	&:nth-child(2n) {
		background: rgba(255, 0, 0, 0.1);
	}
	& + & {
		margin-top: 16px;
	}

	&.legend {
		position: relative;
		background: darkblue;
		.month {
			position: absolute;
			height: 2px;
			color: white;
			background: lime;
			&:nth-child(2n) {
				background: red;
			}
		}
	}
}

.timeline--host-avatar {
	position: absolute;
}

.timeline--chairman {
	position: relative;
	// background: rgba(255, 0, 0, 0.1);
	height: 1.5rem;
	& + & {
		margin-top: 16px;
	}
	&.annual .chairman {
		background: var(--connected-orange);
	}
	&.keynote .chairman {
		background: var(--connected-yellow);
	}
	.chairman {
		position: absolute;
		height: 100%;
		border-radius: 1.5rem;
		overflow: hidden;
		text-overflow: ellipsis;
		transition-duration: var.$hover-duration;
		transition-timing-function: ease-out;
		transition-property: width, left;
	}
}

section#timeline {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	max-width: unset;
}
