$readability-width: 650px;
$hover-duration: 300ms;
$pop-transition-timing: cubic-bezier(0.68, 0.07, 0.27, 1.54);
$pop-transition: $hover-duration transform $pop-transition-timing;
$header-shadow: 0px 1px 6px rgba(51, 63, 72, 0.5);
$emoji-font: 'Apple Color Emoji', 'Noto Color Emoji', 'Segoe UI Emoji', Times, Symbola, Aegyptus, Code2000, Code2001,
	Code2002, Musica, emoji, sans-serif;

// iOS safe-areas
$iX-top: env(safe-area-inset-top);
$iX-bottom: env(safe-area-inset-bottom);
$iX-left: env(safe-area-inset-left);
$iX-right: env(safe-area-inset-right);

// Values copied from Bootstrap, they're smarter than me
// https://getbootstrap.com/docs/5.0/layout/breakpoints/
$break-xs: 375px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$break-xxl: 1400px;

:root {
	--safe-top: #{$iX-top};

	--connected-green-rgb: 68, 153, 52; // #449934
	--connected-yellow-rgb: 252, 194, 0; // #fcc200
	--connected-orange-rgb: 239, 123, 0; // #ef7b00
	--connected-red-rgb: 229, 31, 46; // #e51f2e
	--connected-purple-rgb: 157, 52, 137; // #9d3489
	--connected-blue-rgb: 13, 135, 202; // #0d87ca
	--connected-grey-rgb: 107, 138, 164; // Not official #6b8aa4
	--relay-blue-rgb: 51, 63, 72; // #333f48

	--connected-green: rgb(var(--connected-green-rgb));
	--connected-yellow: rgb(var(--connected-yellow-rgb));
	--connected-orange: rgb(var(--connected-orange-rgb));
	--connected-red: rgb(var(--connected-red-rgb));
	--connected-purple: rgb(var(--connected-purple-rgb));
	--connected-blue: rgb(var(--connected-blue-rgb));
	--connected-grey: rgb(var(--connected-grey-rgb));
	--relay-blue: rgb(var(--relay-blue-rgb));

	--text-primary-color: #31373d;

	--space-side-padding: 16px;
	--space-between-sm: 8px;
	--space-between-md: 16px;
	--space-between-lg: 32px;
	--space-between-xl: 44px;

	font-size: 14px;

	--background-color-rgb: 255, 255, 255;
	--background-color: rgb(var(--background-color-rgb));
	--text-secondary-color: #7b8a98; //#5e6d7a;
	--link-color: #106dc6;
	--link-hover-color: #23527c;

	--element-neutral-color: rgba(0, 0, 0, 0);
	--element-hover-color: rgba(0, 0, 0, 0.05);
	--element-active-color: rgba(13, 135, 202, 0.1);
	--element-corner-radius: 8px;
	--element-padding: 8px;
	--element-padding-neg: -8px;

	--corner-radius: 4px;

	--graphic-border: 1px solid rgba(0, 0, 0, 0.1);
	--graphic-size: 60px;

	--document-background-color: var(--connected-blue);
	--document-text-color: #543404;
	--document-link-color: rgba(239, 123, 0, 0.7);

	--rounded-text: ui-rounded, 'SF Pro Rounded', ui-sans-serif, -apple-system, BlinkMacSystemFont, system-ui,
		'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color-rgb: 0, 0, 0;
		--text-primary-color: #9baec1;
		--text-secondary-color: #637c96;
		--link-color: var(--connected-blue);
		--link-hover-color: #33adf1;
		--graphic-border: 1px solid rgba(255, 255, 255, 0.25);

		--element-neutral-color: rgba(255, 255, 255, 0);
		--element-hover-color: rgba(255, 255, 255, 0.1);
		--element-active-color: rgba(13, 135, 202, 0.3);
		--document-background-color: var(--relay-blue);
	}
}
@media screen and (min-width: $break-sm) {
	:root {
		font-size: 16px;
	}
}

@media screen and (min-width: $break-md) {
	:root {
		--graphic-size: 72px;
		--space-side-padding: 32px;
		--space-between-xl: 64px;
		font-size: 18px;
	}
}

@media screen and (min-width: $break-xl) {
	:root {
		--graphic-size: 80px;
	}
}

@media screen and (min-width: $break-sm) {
}
@media screen and (min-width: $break-md) {
}
@media screen and (min-width: $break-lg) {
}
@media screen and (min-height: $break-xl) {
}
@media screen and (min-height: $break-xxl) {
}
@media (hover: hover) {
}

@mixin secondary-text {
	color: var(--text-secondary-color);
	font-size: 0.75rem;
}

@mixin connected_background($duration) {
	animation-name: connected_colors;
	animation-duration: $duration;
	animation-iteration-count: infinite;
}
@mixin underline() {
	text-decoration: underline;
	text-underline-offset: 0.14em;
}

@mixin truncate() {
	overflow: hidden;
	text-overflow: ellipsis;
}

@keyframes connected_colors {
	0% {
		background-color: var(--connected-green);
	}
	14% {
		background-color: var(--connected-yellow);
	}
	29% {
		background-color: var(--connected-orange);
	}
	43% {
		background-color: var(--connected-red);
	}
	57% {
		background-color: var(--connected-purple);
	}
	71% {
		background-color: var(--connected-blue);
	}
	86% {
		background-color: var(--relay-blue);
	}
	100% {
		background-color: var(--connected-green);
	}
}
