@use 'variables' as var;
@use 'global';
@use 'links';
@use 'special-links';
@use 'header';
@use 'menu-section';
@use 'logo-tag';
@use 'search';
@use 'modal-input';
@use 'footer';

html {
	line-height: 1.5;
	background-color: var(--background-color);
	color: var(--text-primary-color);
}

.top_button {
	box-shadow: var.$header-shadow;
}
