@use "variables" as var;

:root {
	--connected-green: #449934;
	--connected-yellow: #fcc200;
	--connected-orange: #ef7b00;
	--connected-red: #e51f2e;
	--connected-purple: #9d3489;
	--connected-blue: #0d87ca;
	--relay-blue: #333f48;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
}

body {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	width: 100vw;
	overflow-x: hidden;
}

p {
	margin: 0;
}

#back_button {
	display: block;
	height: 40px;
	border-radius: 20px;

	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 2;
	@media (hover: hover) {
		transition: var.$pop-transition;
		&:hover,
		&:focus {
			transform: scale(1.2);
		}
	}
}

.banner {
	text-align: center;
	color: white;
	padding: 8px 16px;
}

// Links on colored/dark background
.banner a,
footer a:not(#footer_corner),
nav a {
	&:link,
	&:visited {
		color: white;
		opacity: 0.8;
	}

	&:hover,
	&:focus {
		opacity: 1;
	}

	&:active {
		opacity: 1;
	}
}

/* For debugging */
pre {
	font-size: 0.8rem;
	overflow-x: scroll;
	padding: 10px;
	background: pink;
	@media (prefers-color-scheme: dark) {
		background: #230034;
	}
}
