@use "variables" as var;

:root {
	--connected-green: #449934;
	--connected-yellow: #fcc200;
	--connected-orange: #ef7b00;
	--connected-red: #e51f2e;
	--connected-purple: #9d3489;
	--connected-blue: #0d87ca;
	--relay-blue: #333f48;

	--text-primary-color: #31373d;

	--space-side-padding: 16px;
	--space-between-sm: 8px;
	--space-between-md: 16px;
	--space-between-lg: 32px;

	font-size: 14px;
}

@media screen and (min-width: var.$break-sm) {
	:root {
		font-size: 16px;
	}
}
@media screen and (min-width: var.$break-md) {
	:root {
		--space-side-padding: 32px;
		font-size: 18px;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-primary-color: #9baec1;
	}
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
}

body {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	width: 100vw;
	overflow-x: hidden;
	min-height: 100vh;
}

p {
	margin: 0;
}
section > p + p {
	margin-top: var(--space-between-md);
}

#back_button {
	display: block;
	height: 40px;
	border-radius: 20px;

	position: absolute;
	top: 20px;
	top: max(20px, #{var.$iX-top});
	left: 20px;
	z-index: 11;
	@media (hover: hover) {
		transition: var.$pop-transition;
		&:hover,
		&:focus {
			transform: scale(1.2);
		}
	}
}

.banner {
	text-align: center;
	color: white;
	padding: 8px 16px;
	b {
		font-size: 1.2rem;
	}
	br + span {
		opacity: 0.8;
	}
}
.contrast {
	text-shadow: 0px 0px 4px rgba(82, 53, 0, 1);
}

.nowrap {
	white-space: nowrap;
}

.footer_space {
	margin-top: calc(var(--space-between-lg) * 2);
}
footer {
	margin-top: auto;
	padding: var(--space-side-padding);
	padding-bottom: max(var(--space-side-padding), #{var.$iX-bottom});
	color: white;
	text-align: center;
	background: var(--relay-blue);
	font-size: 0.875rem;
	position: relative;
	p.refresh_page,
	p.promote_webapp {
		display: none;
		margin-bottom: var(--space-between-md);
	}
	&.is_standalone p.refresh_page,
	&.isnot_standalone p.promote_webapp {
		display: block;
	}
}

/* For debugging */
pre {
	font-size: 0.8rem;
	overflow-x: scroll;
	padding: 10px;
	background: pink;
	@media (prefers-color-scheme: dark) {
		background: #230034;
	}
}
