@use "variables" as var;
@use "root";
@use "header";
@use "menu-section";
@use "logo-tag";
@use "list-graphic";
@use "list-item";
@use "pick-item";
@use "leaderboard";

h3 {
	margin: 0;
	font-weight: 600;
	font-size: 1.25rem;
}
h4 {
	text-transform: uppercase;
	color: var(--text-secondary-color);
	font-weight: bold;
	font-size: 0.875rem;
	margin: 0;
}

// Regular links
a {
	font-weight: 500;
	&:link,
	&:visited {
		color: var(--link-color);
	}
	&:hover,
	&:focus,
	&:active {
		color: var(--link-hover-color);
	}
	span.emoji {
		text-decoration: none;
		display: inline-block;
		margin-right: 4px;
	}

	// Add Twitter/GitHub logos to their URLs
	&:not(.list_item_content) {
		&[href^="https://github.com"],
		&[href^="https://twitter.com"]
		{
			&:after {
				display: inline-block;
				margin-left: 0.3em;
				transition: var.$pop-transition;
			}
		}
		&[href^="https://twitter.com"]
		{
			&:after {
				opacity: 0.7;
				content: url('/images/twitter.svg');
				transform: translate(0px, 1px);
			}
			&:hover {
				&:after {
					transform: translate(3px, 0px);
					opacity: 1;
				}
			}
		}
		&[href^="https://github.com"]
		{
			&:after {
				content: url('/images/github.svg');
				transform: translate(0px, 1px);
			}
			&:hover {
				&:after {
					transform: scale(1.2);
				}
			}
		}
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#back_button {
	box-shadow: var.$header-shadow;
}
