@use "variables" as var;
@use "root";
@use "header";
@use "list-item";
@use "pick-item";
@use "leaderboard";
@use "list-graphic";
@use "menu-section";

html {
	line-height: 1.5;
	background-color: var(--background-color);
	color: var(--text-primary-color);
}

body {
}

h1 {
	font-weight: 800;
	font-size: 2rem;
	line-height: 1;
	margin: 0;
}

h2 {
}
h3 {
	margin: 0;
	font-weight: 600;
	font-size: 1.25rem;
}
h4 {
	text-transform: uppercase;
	color: var(--text-secondary-color);
	font-weight: bold;
	font-size: 0.875rem;
	margin: 0;
}

// Regular links
a {
	font-weight: 500;
	&:link,
	&:visited {
		color: var(--link-color);
	}
	&:hover,
	&:focus,
	&:active {
		color: var(--link-hover-color);
	}
	span.emoji {
		text-decoration: none;
		display: inline-block;
		margin-right: 4px;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
