@use "variables" as var;
@use "global";
@use "links";
@use "special-links";
@use "header";
@use "menu-section";
@use "logo-tag";
@use "list-graphic";
@use "list-item";
@use "pick-item";
@use "tag";
@use "leaderboard";
@use "timeline";
@use "modal-input";
@use "search";
@use "filter";
@use "footer";

h3 {
	margin: 0;
	font-weight: 600;
	font-size: 1.25rem;
}
h4 {
	text-transform: uppercase;
	color: var(--text-secondary-color);
	font-weight: bold;
	font-size: 0.875rem;
	margin: 0;
}

span.emoji {
	font-family: var.$emoji-font;
	font-variant-emoji: emoji;
	display: inline-block;
	width: 1.5em;
	margin-right: 0.4em;
	overflow: hidden;
	vertical-align: top;
	white-space: nowrap;
	flex-shrink: 0;
	text-decoration: none;
	text-align: center;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.bullet_list > li {
	display: flex;
	margin: 8px 0;
	span.emoji {
		margin-right: 8px;
	}
}

.highlight_card {
	padding: var(--space-between-sm) var(--space-between-md);
	border-radius: var(--corner-radius);
	margin: var(--space-between-lg) auto;
	border: 1px solid var(--connected-blue);
	background: var(--element-active-color);
}

.top_button {
	box-shadow: var.$header-shadow;
}
